Repository fzymgc-house/fzymgc-house-skills: changes, and which lefthook commands are due for each by the changed paths.
All: lint-markdown, fmt-markdown, ruff-check, ruff-format

lefthook.yml:

# Lefthook configuration
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    lint-markdown:
      glob: "*.md"
      run: rumdl check {staged_files}

    fmt-markdown:
      glob: "*.md"
      run: rumdl fmt {staged_files}
      stage_fixed: true

    ruff-check:
      glob: "*.py"
      run: ruff check --fix {staged_files}
      stage_fixed: true

    ruff-format:
      glob: "*.py"
      run: ruff format {staged_files}
      stage_fixed: true

commit-msg:
  commands:
    conventional-commit:
      run: cog verify --file {1}

fix(fzymgc-house-skills-69f.3): add combined jj st + jj log failure test for verification fragment
  .claude/hooks/tests/test_jj_init.bats
Due: none

fix(fzymgc-house-skills-69f.6): add jj+lefthook failure test for worktree-create.sh
  .claude/hooks/tests/test_worktree_create.bats
Due: none

fix(fzymgc-house-skills-69f.5): add git lifecycle test for worktree create+remove
  .claude/hooks/tests/test_worktree_create.bats
Due: none

fix(fzymgc-house-skills-69f.1): strengthen exit code assertions for jj-not-installed inferred root test
  .claude/hooks/tests/test_worktree_remove.bats
Due: none

fix(fzymgc-house-skills-gl4.10): complete jj conflict-check elif in address-findings SKILL.md
  pr-review/skills/address-findings/SKILL.md
Due: lint-markdown, fmt-markdown

fix(fzymgc-house-skills-gl4.14): add interactions.jsonl to .beads/.gitignore
  .beads/.gitignore
  .beads/interactions.jsonl
Due: none

fix(fzymgc-house-skills-gl4.11): default _attempt_forget=true when workspace not in jj list
  .claude/hooks/worktree-remove.sh
Due: none

fix(fzymgc-house-skills-gl4.8): remove dead git_prune_failed variable from worktree-remove.sh
  .claude/hooks/worktree-remove.sh
Due: none

fix(fzymgc-house-skills-gl4.9): add error handling for PARTIAL worktree cleanup in address-findings SKILL.md
  pr-review/skills/address-findings/SKILL.md
Due: lint-markdown, fmt-markdown

fix(fzymgc-house-skills-gl4.7): strengthen verification success assertion in test_jj_init.bats
  .claude/hooks/tests/test_jj_init.bats
Due: none

fix(fzymgc-house-skills-gl4.9): proper shell grouping for PARTIAL/step-5 cleanup in SKILL.md
  pr-review/skills/address-findings/SKILL.md
Due: lint-markdown, fmt-markdown

fix(fzymgc-house-skills-gl4.16): fix PATH restriction in BATS tests for macOS jq compatibility
  .claude/hooks/tests/helpers.bash
  .claude/hooks/tests/test_worktree_create.bats
  .claude/hooks/tests/test_worktree_helpers.bats
  .claude/hooks/tests/test_worktree_remove.bats
Due: none

fix(fzymgc-house-skills-gl4.16): fix _NO_JJ_PATH and update tests for gl4.11 behavior
  .claude/hooks/tests/helpers.bash
  .claude/hooks/tests/test_worktree_create.bats
  .claude/hooks/tests/test_worktree_remove.bats
Due: none

fix(fzymgc-house-skills-gl4.1): use pattern match for INFO message in jj-not-installed test
  .claude/hooks/tests/test_worktree_create.bats
Due: none

fix(fzymgc-house-skills-gl4.3): update test comment for removed git_prune_failed variable
  .claude/hooks/tests/test_worktree_remove.bats
Due: none

fix(fzymgc-house-skills-gl4.26): remove dead git_prune_failed variable from worktree-remove.sh
  .claude/hooks/worktree-remove.sh
Due: none

fix(fzymgc-house-skills-gl4.28): skip jj forget in cleanup when mkdir failed before workspace creation
  .claude/hooks/worktree-create.sh
Due: none

fix(fzymgc-house-skills-gl4.31): add cleanup trap for _NO_JJ_FILTERED_DIR temp directory
  .claude/hooks/tests/helpers.bash
Due: none

test(fzymgc-house-skills-gl4.35): add B-VCS-FW-GIT1 eval for fix-worker git-path verification
  pr-review/evals/evals.json
Due: none

docs(fzymgc-house-skills-gl4.27): document VCS preamble jj worktree check as heuristic with safe failure mode
  pr-review/references/vcs-detection-preamble.md
Due: lint-markdown, fmt-markdown

refactor(hooks): remove BATS tests and add behavior documentation headers
  .claude/hooks/tests/helpers.bash
  .claude/hooks/tests/test_jj_init.bats
  .claude/hooks/tests/test_pr_review_agents_lint.bats
  .claude/hooks/tests/test_worktree_create.bats
  .claude/hooks/tests/test_worktree_helpers.bats
  .claude/hooks/tests/test_worktree_remove.bats
  .claude/hooks/worktree-create.sh
  .claude/hooks/worktree-helpers.sh
  .claude/hooks/worktree-remove.sh
Due: none

docs(hooks): add Python migration design spec
  docs/superpowers/specs/2026-03-11-hook-python-migration-design.md
Due: lint-markdown, fmt-markdown

docs(hooks): add Python migration implementation plan
  docs/superpowers/plans/2026-03-11-hook-python-migration.md
Due: lint-markdown, fmt-markdown

feat(hooks): add worktree_helpers.py with all helper functions and tests
  .claude/hooks/tests/__init__.py
  .claude/hooks/tests/conftest.py
  .claude/hooks/tests/test_worktree_helpers.py
  .claude/hooks/worktree_helpers.py
Due: ruff-check, ruff-format

feat(hooks): add post-edit-format Python uv script with tests
  .claude/hooks/post-edit-format
  .claude/hooks/tests/test_post_edit_format.py
Due: ruff-check, ruff-format

feat(hooks): add worktree-create Python uv script with tests
  .claude/hooks/tests/test_worktree_create.py
  .claude/hooks/worktree-create
Due: ruff-check, ruff-format

feat(hooks): add worktree-remove Python uv script with tests
  .claude/hooks/tests/test_worktree_remove.py
  .claude/hooks/worktree-remove
Due: ruff-check, ruff-format

refactor(hooks): switch to Python uv scripts, delete bash originals
  .claude/hooks/post-edit-format.sh
  .claude/hooks/worktree-create.sh
  .claude/hooks/worktree-helpers.sh
  .claude/hooks/worktree-remove.sh
  .claude/settings.json
Due: none

fix(gl4.49): replace bats with pytest in CI workflow
  .github/workflows/check-skills.yml
Due: none

fix(gl4.48): fix validate_safe_name regex and remove dead _SAFE_NAME_RE
  .claude/hooks/worktree_helpers.py
Due: ruff-check, ruff-format

fix(gl4.52): log JSON decode errors in worktree-remove instead of swallowing
  .claude/hooks/worktree-remove
Due: none

fix(gl4.54): add warning for detect_repo_root silent fallthrough
  .claude/hooks/worktree_helpers.py
Due: ruff-check, ruff-format

fix(gl4.60): remove dead attempt_forget flag in _jj_cleanup
  .claude/hooks/worktree-remove
Due: none

test(gl4.53): add jj worktree-create integration tests
  .claude/hooks/tests/conftest.py
  .claude/hooks/tests/test_worktree_create.py
Due: ruff-check, ruff-format

test(gl4.53): add old-jj version detection test
  .claude/hooks/tests/test_worktree_create.py
Due: ruff-check, ruff-format

test(gl4.55): add jj worktree-remove integration tests
  .claude/hooks/tests/test_worktree_remove.py
Due: ruff-check, ruff-format

test(gl4.57): add _cleanup() atexit handler tests
  .claude/hooks/tests/test_worktree_create.py
Due: ruff-check, ruff-format

test(gl4.55): add jj workspace list failure test
  .claude/hooks/tests/test_worktree_remove.py
Due: ruff-check, ruff-format

fix(tests): fix fake jj scripts in worktree tests
  .claude/hooks/tests/test_worktree_create.py
  .claude/hooks/tests/test_worktree_remove.py
Due: ruff-check, ruff-format

test(hooks): add tests for gl4.52 and gl4.54 behavioral changes
  .claude/hooks/tests/test_worktree_helpers.py
  .claude/hooks/tests/test_worktree_remove.py
Due: ruff-check, ruff-format
