Repository fzymgc-house/fzymgc-house-skills: changes, and which lefthook commands are due for each by the changed paths.
All: lint-markdown, fmt-markdown, ruff-check, ruff-format

lint-markdown:
  run: rumdl check {staged_files}

fmt-markdown:
  run: rumdl fmt {staged_files}
  stage_fixed: true

ruff-check:
  run: ruff check --fix {staged_files}
  stage_fixed: true

ruff-format:
  run: ruff format {staged_files}
  stage_fixed: true

fix(capture-adrs): prevent literal \n in ADR bodies (#168)
  dev-flow/scripts/render-adr
  dev-flow/skills/capture-adrs/SKILL.md
  docs/adr/fhsk-7y4-adopt-single-repo-wide-version-replacing-per-package-streams.md
  docs/adr/fhsk-h3z-validate-conventional-commits-at-pr-title-boundary-ci.md
  docs/adr/fhsk-toy-use-tag-only-cog-releases-no-commit-main.md
  tests/test_adr_docs.py
Due: lint-markdown, fmt-markdown, ruff-check, ruff-format

fix(drain): skip direnv gate in non-direnv repos (missing .envrc misread as blocked)
  dev-flow/scripts/drain-worker-launch
  tests/test_drain_worker_launch.py
Due: ruff-check, ruff-format

fix(drain): skip direnv gate in non-direnv repos (missing .envrc misread as blocked) (#170)
  dev-flow/scripts/drain-worker-launch
  tests/test_drain_worker_launch.py
Due: ruff-check, ruff-format

fix(dev-flow): resolve drain/adr scripts via ${CLAUDE_PLUGIN_ROOT}
  dev-flow/commands/adr.md
  dev-flow/commands/drain.md
  dev-flow/references/drain-with-worker.md
  dev-flow/skills/drain-with-worker/SKILL.md
  dev-flow/skills/draining-beads/SKILL.md
  tests/test_drain_skill.py
  tests/test_plugin_script_paths.py
Due: lint-markdown, fmt-markdown, ruff-check, ruff-format

fix(drain): detect cmux by session, not PATH — symmetric mux selection (fhsk-3v3)
  Taskfile.yaml
  dev-flow/scripts/_muxdriver.py
  dev-flow/scripts/tests/test_muxdriver.py
Due: ruff-check, ruff-format

docs(miniflux): add SKILL.md and reference docs (fhsk-8k8)
  homelab/skills/miniflux/SKILL.md
  homelab/skills/miniflux/references/curation.md
  homelab/skills/miniflux/references/digest.md
  homelab/skills/miniflux/references/entries.md
  homelab/skills/miniflux/references/feeds.md
  homelab/skills/miniflux/references/health.md
Due: lint-markdown, fmt-markdown

feat(miniflux): wire argparse dispatch and main entrypoint (fhsk-8k8)
  homelab/skills/miniflux/scripts/miniflux_api.py
  homelab/skills/miniflux/tests/test_miniflux_api.py
Due: ruff-check, ruff-format

feat(miniflux): add entry read/triage raw commands (fhsk-8k8)
  homelab/skills/miniflux/scripts/miniflux_api.py
  homelab/skills/miniflux/tests/test_miniflux_api.py
Due: ruff-check, ruff-format

feat(miniflux): add triage workflow (fhsk-8k8)
  homelab/skills/miniflux/scripts/miniflux_api.py
  homelab/skills/miniflux/tests/test_miniflux_api.py
Due: ruff-check, ruff-format

test(miniflux): wire skill test suite into Taskfile gates (fhsk-8k8)
  Taskfile.yaml
Due: none

feat(miniflux): add curation suggest-rules and apply-rule commands (fhsk-8k8)
  homelab/skills/miniflux/scripts/miniflux_api.py
  homelab/skills/miniflux/tests/test_miniflux_api.py
Due: ruff-check, ruff-format

feat(miniflux): add OPML, discover, and refresh commands (fhsk-8k8)
  homelab/skills/miniflux/scripts/miniflux_api.py
  homelab/skills/miniflux/tests/test_miniflux_api.py
Due: ruff-check, ruff-format

feat(miniflux): add feed and category raw commands (fhsk-8k8)
  homelab/skills/miniflux/scripts/miniflux_api.py
  homelab/skills/miniflux/tests/test_miniflux_api.py
Due: ruff-check, ruff-format

feat(miniflux): add gateway script skeleton with config + formatting (fhsk-8k8)
  homelab/skills/miniflux/scripts/miniflux_api.py
  homelab/skills/miniflux/tests/test_miniflux_api.py
Due: ruff-check, ruff-format

feat(miniflux): add health-audit workflow (fhsk-8k8)
  homelab/skills/miniflux/scripts/miniflux_api.py
  homelab/skills/miniflux/tests/test_miniflux_api.py
Due: ruff-check, ruff-format

feat(miniflux): add digest workflow (fhsk-8k8)
  homelab/skills/miniflux/scripts/miniflux_api.py
  homelab/skills/miniflux/tests/test_miniflux_api.py
Due: ruff-check, ruff-format

feat(miniflux): add client factory and error-translating dispatch (fhsk-8k8)
  homelab/skills/miniflux/scripts/miniflux_api.py
  homelab/skills/miniflux/tests/test_miniflux_api.py
Due: ruff-check, ruff-format

fix(drain): stop watchdog api-error false-positive on diff line numbers (fhsk-b43)
  dev-flow/scripts/drain-watchdog
  tests/test_drain_skill.py
Due: ruff-check, ruff-format

fix(miniflux): address PR #174 review findings (fhsk-8k8)
  homelab/skills/miniflux/references/digest.md
  homelab/skills/miniflux/references/entries.md
  homelab/skills/miniflux/references/feeds.md
  homelab/skills/miniflux/references/health.md
  homelab/skills/miniflux/scripts/miniflux_api.py
  homelab/skills/miniflux/tests/test_miniflux_api.py
Due: lint-markdown, fmt-markdown, ruff-check, ruff-format

fix(dev-flow): resolve drain/adr scripts via ${CLAUDE_PLUGIN_ROOT} (#172)
  dev-flow/commands/adr.md
  dev-flow/commands/drain.md
  dev-flow/references/drain-with-worker.md
  dev-flow/skills/drain-with-worker/SKILL.md
  dev-flow/skills/draining-beads/SKILL.md
  tests/test_drain_skill.py
  tests/test_plugin_script_paths.py
Due: lint-markdown, fmt-markdown, ruff-check, ruff-format

fix(drain): detect cmux by session, not PATH — symmetric mux selection (fhsk-3v3) (#173)
  Taskfile.yaml
  dev-flow/scripts/_muxdriver.py
  dev-flow/scripts/tests/test_muxdriver.py
Due: ruff-check, ruff-format

fix(drain): stop watchdog api-error false-positive on diff line numbers (fhsk-b43) (#175)
  dev-flow/scripts/drain-watchdog
  tests/test_drain_skill.py
Due: ruff-check, ruff-format

feat(miniflux): add Miniflux RSS feed management & curation skill (fhsk-8k8) (#174)
  Taskfile.yaml
  homelab/skills/miniflux/SKILL.md
  homelab/skills/miniflux/references/curation.md
  homelab/skills/miniflux/references/digest.md
  homelab/skills/miniflux/references/entries.md
  homelab/skills/miniflux/references/feeds.md
  homelab/skills/miniflux/references/health.md
  homelab/skills/miniflux/scripts/miniflux_api.py
  homelab/skills/miniflux/tests/test_miniflux_api.py
Due: lint-markdown, fmt-markdown, ruff-check, ruff-format

feat(homelab)!: remove unused grafana skill
  .claude-plugin/marketplace.json
  AGENTS.md
  README.md
  homelab/plugin.json
  homelab/skills/grafana/SKILL.md
  homelab/skills/grafana/references/alerting.md
  homelab/skills/grafana/references/dashboards.md
  homelab/skills/grafana/references/incidents.md
  homelab/skills/grafana/references/loki.md
  homelab/skills/grafana/references/oncall.md
  homelab/skills/grafana/references/prometheus.md
  homelab/skills/grafana/references/pyroscope.md
  homelab/skills/grafana/scripts/grafana_mcp.py
  plugins/homelab/.codex-plugin/plugin.json
Due: lint-markdown, fmt-markdown, ruff-check, ruff-format

feat(homelab)!: remove unused grafana skill (#181)
  .claude-plugin/marketplace.json
  AGENTS.md
  README.md
  homelab/plugin.json
  homelab/skills/grafana/SKILL.md
  homelab/skills/grafana/references/alerting.md
  homelab/skills/grafana/references/dashboards.md
  homelab/skills/grafana/references/incidents.md
  homelab/skills/grafana/references/loki.md
  homelab/skills/grafana/references/oncall.md
  homelab/skills/grafana/references/prometheus.md
  homelab/skills/grafana/references/pyroscope.md
  homelab/skills/grafana/scripts/grafana_mcp.py
  plugins/homelab/.codex-plugin/plugin.json
Due: lint-markdown, fmt-markdown, ruff-check, ruff-format

docs(adr): implementation plan — render-adr + adr-doctor Python/uv migration (fhsk-cdr)
  docs/superpowers/plans/2026-06-30-adr-render-python-frontmatter.md
  docs/superpowers/specs/2026-06-30-adr-render-python-frontmatter-design.md
Due: lint-markdown, fmt-markdown

docs(adr): design + plan + ADRs for render-adr/adr-doctor Python + Starlight frontmatter migration (#183)
  docs/superpowers/plans/2026-06-30-adr-render-python-frontmatter.md
  docs/superpowers/specs/2026-06-30-adr-render-python-frontmatter-design.md
Due: lint-markdown, fmt-markdown

feat(adr): add _adr_render.slugify (Python port)
  dev-flow/scripts/_adr_render.py
  dev-flow/scripts/tests/test_adr_render.py
Due: ruff-check, ruff-format

feat(adr): add _adr_render field helpers (status/date/labels/addenda/refs)
  dev-flow/scripts/_adr_render.py
  dev-flow/scripts/tests/test_adr_render.py
Due: ruff-check, ruff-format

feat(adr): add _adr_render.build_document with frontmatter + golden test
  dev-flow/scripts/_adr_render.py
  dev-flow/scripts/tests/test_adr_render.py
Due: ruff-check, ruff-format

feat(adr): add _adr_render.load_and_render (bd I/O entry)
  dev-flow/scripts/_adr_render.py
Due: ruff-check, ruff-format

feat(adr): rewrite render-adr as PEP723 wrapper emitting Starlight frontmatter
  dev-flow/scripts/render-adr
  dev-flow/scripts/tests/test_adr_render.py
Due: ruff-check, ruff-format

docs(adr): regenerate all ADRs to Starlight frontmatter; restore 3 new ADRs + README index; drop fhsk-0cd orphan
  docs/adr/README.md
  docs/adr/fhsk-0cd-make-drain-init-explicit-rather-than-auto-bootstrap.md
  docs/adr/fhsk-0cd-make-drain-init-explicit-rather-than-auto-bootstrapping-firs.md
  docs/adr/fhsk-0o2-split-drain-harness-into-formula-command-and-skill.md
  docs/adr/fhsk-0qz-split-curation-into-deterministic-rules-miniflux-and-reasoni.md
  docs/adr/fhsk-2us-use-active-aspects-deferral-cross-aspect-deduplication-slop.md
  docs/adr/fhsk-3xn-hard-block-skill-entry-unmet-bead-blocker-dependencies.md
  docs/adr/fhsk-4bi-adopt-probelabs-maid-as-primary-mermaid-lint-engine.md
  docs/adr/fhsk-57f-package-handoff-create-and-resume-as-one-conditional-workflo.md
  docs/adr/fhsk-5dj-convert-drain-worker-command-parameterized-skill.md
  docs/adr/fhsk-7y4-adopt-single-repo-wide-version-replacing-per-package-streams.md
  docs/adr/fhsk-8g6-drain-finishes-branch-autonomously-push-pr-at-clean-sentinel.md
  docs/adr/fhsk-8xn-carry-session-state-delta-handoff-body-not-full-re-snapshot.md
  docs/adr/fhsk-8yz-share-cmux-tmux-driver-logic-via-muxdriver-module-not-script.md
  docs/adr/fhsk-a6v-add-tmux-as-standalone-plugin-rather-than-folding-into-dev-f.md
  docs/adr/fhsk-bj8-use-agent-label-as-sole-subagent-dispatch-signal.md
  docs/adr/fhsk-bmn-add-bd-free-inv-a25-frontmatter-check-alongside-bd-guarded-i.md
  docs/adr/fhsk-buu-use-bd-create-type-drain-drain-bead-creation-not-bd-mol-pour.md
  docs/adr/fhsk-ce3-store-drain-lessons-bd-notes-rather-than-prompt-body.md
  docs/adr/fhsk-dgo-use-release-please-file-plugin-versions-reverse-cog-tag-only.md
  docs/adr/fhsk-dtk-gate-drain-worker-launch-behind-askuserquestion-never-auto-f.md
  docs/adr/fhsk-e0u-use-two-tier-spine-overlay-memory-scope-model.md
  docs/adr/fhsk-e4i-never-invoke-goal-from-skill-emit-condition-user-or-driver-s.md
  docs/adr/fhsk-eqt-store-drain-iteration-protocol-skill-not-goal-condition.md
  docs/adr/fhsk-h3z-validate-conventional-commits-at-pr-title-boundary-ci.md
  docs/adr/fhsk-hj3-leave-bead-progress-at-hand-off-delegate-closure-merge.md
  docs/adr/fhsk-nlw-rewrite-adr-scripts-as-python-pep-723-uv-run-script-modules.md
  docs/adr/fhsk-p07-replace-blocking-stop-hook-capture-nudge-silent-sessionstart.md
  docs/adr/fhsk-pqw-wrap-miniflux-client-directly-not-via-mcp-gateway.md
  docs/adr/fhsk-qs9-use-env-then-file-config-resolution-miniflux-credentials.md
  docs/adr/fhsk-rqh-use-bd-mol-pour-versioned-formula-drain-bead-creation.md
  docs/adr/fhsk-s15-use-custom-bd-type-handoffs-not-label-or-note.md
  docs/adr/fhsk-slp-adopt-yaml-title-frontmatter-adr-files-drop-body-h1.md
  docs/adr/fhsk-thw-use-goal-over-loop-autonomous-bead-queue-drains.md
  docs/adr/fhsk-toy-use-tag-only-cog-releases-no-commit-main.md
  docs/adr/fhsk-ypt-treat-bug-bead-suggested-fixes-as-non-authoritative-hypothes.md
  docs/adr/fhsk-zds-use-drain-bead-as-cross-session-handoff-carrier-not-temp-fil.md
Due: lint-markdown, fmt-markdown

feat(adr): add _adr_doctor pure file-text checks incl INV-A25 frontmatter-title
  dev-flow/scripts/_adr_doctor.py
  dev-flow/scripts/tests/test_adr_doctor.py
Due: ruff-check, ruff-format

feat(adr): add _adr_doctor bd-backed checks incl in-memory INV-A22
  dev-flow/scripts/_adr_doctor.py
  dev-flow/scripts/tests/test_adr_doctor.py
Due: ruff-check, ruff-format

feat(adr): port adr-doctor to PEP723 Python; delete adr-doctor.sh
  dev-flow/scripts/_adr_doctor.py
  dev-flow/scripts/adr-doctor
  dev-flow/scripts/adr-doctor.sh
Due: ruff-check, ruff-format

build(adr): point Taskfile lint at adr-doctor (renamed from .sh)
  Taskfile.yaml
Due: none

docs(adr): update evolve-adr refs to adr-doctor + Codex uv dependency note
  dev-flow/skills/evolve-adr/SKILL.md
Due: lint-markdown, fmt-markdown

docs(adr): mark plan IMPLEMENTED + restore adr-capture markers (fhsk-cdr.14)
  docs/superpowers/plans/2026-06-30-adr-render-python-frontmatter.md
  docs/superpowers/specs/2026-06-30-adr-render-python-frontmatter-design.md
Due: lint-markdown, fmt-markdown

test(adr): add adr-doctor pure-check + no-title coverage; fix _fake_bd, comment/type accuracy (review #184)
  dev-flow/scripts/_adr_doctor.py
  dev-flow/scripts/_adr_render.py
  dev-flow/scripts/render-adr
  dev-flow/scripts/tests/test_adr_doctor.py
  dev-flow/scripts/tests/test_adr_render.py
Due: ruff-check, ruff-format

Path conditions:
  lint-markdown: any of: *.md
  fmt-markdown: any of: *.md
  ruff-check: any of: *.py
  ruff-format: any of: *.py
