Repository fzymgc-house/fzymgc-house-skills: changes, and which lefthook commands are due for each by the changed paths.
All: lint-markdown, fmt-markdown, ruff-check, ruff-format

lint-markdown:
  run: rumdl check {staged_files}

fmt-markdown:
  run: rumdl fmt {staged_files}
  stage_fixed: true

ruff-check:
  run: ruff check --fix {staged_files}
  stage_fixed: true

ruff-format:
  run: ruff format {staged_files}
  stage_fixed: true

style: auto-fix markdown formatting from rumdl
  docs/plans/2025-12-24-token-efficiency-implementation.md
  docs/plans/2025-12-29-terraform-skill-implementation.md
  homelab/skills/grafana/CHANGELOG.md
  homelab/skills/skill-qa/CHANGELOG.md
  homelab/skills/terraform/CHANGELOG.md
  jj/CHANGELOG.md
  jj/skills/jujutsu/CHANGELOG.md
  pr-review/CHANGELOG.md
  pr-review/skills/address-findings/CHANGELOG.md
  pr-review/skills/respond-to-comments/CHANGELOG.md
  pr-review/skills/review-pr/CHANGELOG.md
  superpowers/skills/brainstorming/spec-document-reviewer-prompt.md
  superpowers/skills/brainstorming/visual-companion.md
  superpowers/skills/dispatching-parallel-agents/SKILL.md
  superpowers/skills/receiving-code-review/SKILL.md
  superpowers/skills/subagent-driven-development/code-quality-reviewer-prompt.md
  superpowers/skills/subagent-driven-development/implementer-prompt.md
  superpowers/skills/subagent-driven-development/spec-reviewer-prompt.md
  superpowers/skills/systematic-debugging/CREATION-LOG.md
  superpowers/skills/systematic-debugging/SKILL.md
  superpowers/skills/systematic-debugging/condition-based-waiting.md
  superpowers/skills/systematic-debugging/defense-in-depth.md
  superpowers/skills/systematic-debugging/root-cause-tracing.md
  superpowers/skills/systematic-debugging/test-pressure-1.md
  superpowers/skills/systematic-debugging/test-pressure-2.md
  superpowers/skills/systematic-debugging/test-pressure-3.md
  superpowers/skills/test-driven-development/SKILL.md
  superpowers/skills/test-driven-development/testing-anti-patterns.md
  superpowers/skills/verification-before-completion/SKILL.md
  superpowers/skills/writing-plans/plan-document-reviewer-prompt.md
  superpowers/skills/writing-skills/SKILL.md
  superpowers/skills/writing-skills/anthropic-best-practices.md
  superpowers/skills/writing-skills/examples/CLAUDE_MD_TESTING.md
  superpowers/skills/writing-skills/persuasion-principles.md
  superpowers/skills/writing-skills/testing-skills-with-subagents.md
Due: lint-markdown, fmt-markdown

ci: add superpowers to skill drift check and lint jobs
  .github/workflows/check-skills.yml
Due: none

ci: auto-discover plugins and scope superpowers lint to owned files
  .github/workflows/check-skills.yml
Due: none

fix(ci): use bash array for skill_find_paths to prevent word-splitting
  .github/workflows/check-skills.yml
Due: none

fix: add superpowers plugin to marketplace.json
  .claude-plugin/marketplace.json
Due: none

fix(superpowers): add missing run-hook.cmd polyglot wrapper
  superpowers/hooks/run-hook.cmd
Due: none

fix(superpowers): add run-hook.cmd to upstream manifest
  superpowers/references/upstream-manifest.md
Due: lint-markdown, fmt-markdown

docs(jj): remove jjagent reference from See Also
  jj/skills/jujutsu/SKILL.md
Due: lint-markdown, fmt-markdown

feat(jj): add advanced workflows, agent patterns, and hook enhancements
  jj/hooks/guard-git-mutating
  jj/hooks/session-start-jj-detect
  jj/skills/jujutsu/SKILL.md
  jj/skills/jujutsu/references/jj-agent-config.md
  jj/skills/jujutsu/references/jj-git-interop.md
  jj/skills/jujutsu/references/jj-reference.md
  jj/skills/jujutsu/references/workflows-reference.md
Due: lint-markdown, fmt-markdown

feat(jj): add advanced workflows, agent patterns, and hook enhancements (#37)
  jj/hooks/guard-git-mutating
  jj/hooks/session-start-jj-detect
  jj/skills/jujutsu/SKILL.md
  jj/skills/jujutsu/references/jj-agent-config.md
  jj/skills/jujutsu/references/jj-git-interop.md
  jj/skills/jujutsu/references/jj-reference.md
  jj/skills/jujutsu/references/workflows-reference.md
Due: lint-markdown, fmt-markdown

feat(jj): enforce jj-first VCS policy with four-tier guard hook
  jj/hooks/guard-git-mutating
  jj/hooks/session-start-jj-detect
  jj/skills/jujutsu/SKILL.md
  jj/skills/jujutsu/references/jj-agent-config.md
  jj/skills/jujutsu/references/jj-git-interop.md
  jj/skills/jujutsu/references/jj-reference.md
  jj/skills/jujutsu/references/workflows-reference.md
Due: lint-markdown, fmt-markdown

test(jj): update hook tests for four-tier enforcement model
  jj/hooks/tests/test_guard_git_mutating.py
  jj/hooks/tests/test_session_start_jj_detect.py
Due: ruff-check, ruff-format

feat(jj): enforce jj-first VCS policy with four-tier guard hook (#38)
  jj/hooks/guard-git-mutating
  jj/hooks/session-start-jj-detect
  jj/hooks/tests/test_guard_git_mutating.py
  jj/hooks/tests/test_session_start_jj_detect.py
  jj/skills/jujutsu/SKILL.md
  jj/skills/jujutsu/references/jj-agent-config.md
  jj/skills/jujutsu/references/jj-git-interop.md
  jj/skills/jujutsu/references/jj-reference.md
  jj/skills/jujutsu/references/workflows-reference.md
Due: lint-markdown, fmt-markdown, ruff-check, ruff-format

fix(jj): harden plugin with pager safety, undo docs, and parallel agent warnings
  .claude/hooks/tests/test_worktree_remove.py
  .claude/hooks/worktree-remove
  docs/superpowers/plans/2026-04-03-jj-plugin-hardening.md
  docs/superpowers/specs/2026-04-03-jj-plugin-hardening-design.md
  jj/hooks/session-start-jj-detect
  jj/hooks/tests/test_session_start_jj_detect.py
  jj/skills/jujutsu/SKILL.md
Due: lint-markdown, fmt-markdown, ruff-check, ruff-format

fix(jj): harden plugin with pager safety, undo docs, and parallel agent warnings (#43)
  .claude/hooks/tests/test_worktree_remove.py
  .claude/hooks/worktree-remove
  docs/superpowers/plans/2026-04-03-jj-plugin-hardening.md
  docs/superpowers/specs/2026-04-03-jj-plugin-hardening-design.md
  jj/hooks/session-start-jj-detect
  jj/hooks/tests/test_session_start_jj_detect.py
  jj/skills/jujutsu/SKILL.md
Due: lint-markdown, fmt-markdown, ruff-check, ruff-format

feat(jj): add workspace-per-feature workflow and ban stderr suppression
  jj/skills/jujutsu/SKILL.md
  jj/skills/jujutsu/references/workflows-reference.md
Due: lint-markdown, fmt-markdown

feat(jj): add workspace-per-feature workflow and ban stderr suppression (#44)
  jj/skills/jujutsu/SKILL.md
  jj/skills/jujutsu/references/workflows-reference.md
Due: lint-markdown, fmt-markdown

docs(jj): align conflict-handling with canonical jj new+squash workflow
  jj/skills/jujutsu/SKILL.md
  jj/skills/jujutsu/references/jj-reference.md
Due: lint-markdown, fmt-markdown

docs(jj): align conflict-handling with canonical jj new+squash workflow (#46)
  jj/skills/jujutsu/SKILL.md
  jj/skills/jujutsu/references/jj-reference.md
Due: lint-markdown, fmt-markdown

feat(codex): add marketplace wrappers for repo skills
  .agents/plugins/marketplace.json
  .github/workflows/check-skills.yml
  .release-please-manifest.json
  CLAUDE.md
  README.md
  docs/plans/2026-04-09-codex-marketplace-design.md
  docs/plans/2026-04-09-codex-marketplace-implementation.md
  plugins/homelab/.codex-plugin/plugin.json
  plugins/homelab/.mcp.json
  plugins/homelab/skills
  plugins/jj/.codex-plugin/plugin.json
  plugins/jj/commands
  plugins/jj/hooks
  plugins/jj/skills
  plugins/pr-review/.codex-plugin/plugin.json
  plugins/pr-review/agents
  plugins/pr-review/references
  plugins/pr-review/skills
  plugins/superpowers/.codex-plugin/plugin.json
  plugins/superpowers/agents
  plugins/superpowers/commands
  plugins/superpowers/hooks
  plugins/superpowers/references
  plugins/superpowers/scripts
  plugins/superpowers/skills
  release-please-config.json
  tests/test_codex_marketplace.py
Due: lint-markdown, fmt-markdown, ruff-check, ruff-format

docs(agents): make AGENTS canonical guidance
  AGENTS.md
  CLAUDE.md
  README.md
  pr-review/agents/api-contract-checker.md
  pr-review/agents/code-reviewer.md
  pr-review/agents/code-simplifier.md
  pr-review/agents/comment-analyzer.md
  pr-review/agents/fix-worker.md
  pr-review/agents/pr-test-analyzer.md
  pr-review/agents/review-gate.md
  pr-review/agents/security-auditor.md
  pr-review/agents/silent-failure-hunter.md
  pr-review/agents/spec-compliance.md
  pr-review/agents/type-design-analyzer.md
  pr-review/agents/verification-runner.md
  tests/test_agent_guidance_docs.py
Due: lint-markdown, fmt-markdown, ruff-check, ruff-format

docs(jj): design for op-log recovery rule and ladder
  .beads/issues.jsonl
  docs/plans/2026-05-01-jj-skill-op-log-recovery-rule-design.md
Due: lint-markdown, fmt-markdown

docs(jj): implementation plan for op-log recovery rule
  docs/plans/2026-05-01-jj-skill-op-log-recovery-rule-implementation.md
Due: lint-markdown, fmt-markdown

feat(jj): gate op restore and op abandon behind explicit approval
  .beads/issues.jsonl
  jj/skills/jujutsu/SKILL.md
  jj/skills/jujutsu/references/jj-reference.md
Due: lint-markdown, fmt-markdown

fix(jj): correct jj undo guidance and anchor traps to op log inspection
  .beads/issues.jsonl
  jj/skills/jujutsu/SKILL.md
  jj/skills/jujutsu/references/jj-reference.md
Due: lint-markdown, fmt-markdown

docs(jj): restore "in a jj repo" qualifier in recovery ladder intro
  .beads/issues.jsonl
  jj/skills/jujutsu/SKILL.md
Due: lint-markdown, fmt-markdown

feat(jj): gate op restore and op abandon behind explicit approval (#50)
  .beads/issues.jsonl
  docs/plans/2026-05-01-jj-skill-op-log-recovery-rule-design.md
  docs/plans/2026-05-01-jj-skill-op-log-recovery-rule-implementation.md
  jj/skills/jujutsu/SKILL.md
  jj/skills/jujutsu/references/jj-reference.md
Due: lint-markdown, fmt-markdown

chore(jj): polish review findings from PR #50
  .beads/issues.jsonl
  jj/skills/jujutsu/SKILL.md
  jj/skills/jujutsu/references/jj-reference.md
Due: lint-markdown, fmt-markdown

chore(jj): polish PR #50 review findings (#52)
  .beads/issues.jsonl
  jj/skills/jujutsu/SKILL.md
  jj/skills/jujutsu/references/jj-reference.md
Due: lint-markdown, fmt-markdown

chore: updates/fixes/missed commits
  .beads/.gitignore
  .beads/hooks/post-checkout
  .beads/hooks/post-merge
  .beads/hooks/pre-commit
  .beads/hooks/pre-push
  .beads/hooks/prepare-commit-msg
  .beads/issues.jsonl
  .gitignore
Due: none

chore: updates/fixes/missed commits (#53)
  .beads/.gitignore
  .beads/hooks/post-checkout
  .beads/hooks/post-merge
  .beads/hooks/pre-commit
  .beads/hooks/pre-push
  .beads/hooks/prepare-commit-msg
  .beads/issues.jsonl
  .gitignore
Due: none

chore: clenaup
  .beads/issues.jsonl
  AGENTS.md
  CLAUDE.md
  tests/test_agent_guidance_docs.py
Due: lint-markdown, fmt-markdown, ruff-check, ruff-format

chore: clenaup (#54)
  .beads/issues.jsonl
  AGENTS.md
  CLAUDE.md
  tests/test_agent_guidance_docs.py
Due: lint-markdown, fmt-markdown, ruff-check, ruff-format

chore(beads): updates
  .claude/settings.json
  CLAUDE.md
Due: lint-markdown, fmt-markdown

chore(beads): updates (#55)
  .claude/settings.json
  CLAUDE.md
Due: lint-markdown, fmt-markdown

chore(beads): gc prep
  .beads/.gitignore
  .beads/README.md
  .beads/config.yaml
  .beads/hooks/post-checkout
  .beads/hooks/post-merge
  .beads/hooks/pre-commit
  .beads/hooks/pre-push
  .beads/hooks/prepare-commit-msg
  .beads/issues.jsonl
  .beads/metadata.json
Due: lint-markdown, fmt-markdown

Path conditions:
  lint-markdown: any of: *.md
  fmt-markdown: any of: *.md
  ruff-check: any of: *.py
  ruff-format: any of: *.py
