Repository fzymgc-house/fzymgc-house-skills: changes, and which lefthook commands are due for each by the changed paths.
All: lint-markdown, fmt-markdown, ruff-check, ruff-format

lefthook.yml:

# Lefthook configuration
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    lint-markdown:
      glob: "*.md"
      run: rumdl check {staged_files}

    fmt-markdown:
      glob: "*.md"
      run: rumdl fmt {staged_files}
      stage_fixed: true

    ruff-check:
      glob: "*.py"
      run: ruff check --fix {staged_files}
      stage_fixed: true

    ruff-format:
      glob: "*.py"
      run: ruff format {staged_files}
      stage_fixed: true

commit-msg:
  commands:
    conventional-commit:
      run: cog verify --file {1}

fix(adr): de-duplicate fhsk-0o2 header + references after supersede render (#92)
  docs/adr/README.md
  docs/adr/fhsk-0o2-split-drain-harness-into-formula-command-and-skill.md
Due: lint-markdown, fmt-markdown

fix(drain): scope epic-mode ready query with bd ready --parent flag
  dev-flow/commands/drain.md
Due: lint-markdown, fmt-markdown

fix(drain): scope epic-mode ready query with bd ready --parent flag (#90)
  dev-flow/commands/drain.md
Due: lint-markdown, fmt-markdown

test(drain): doc-validation for /goal cold-boot handoff (red)
  tests/test_drain_skill.py
Due: ruff-check, ruff-format

feat(drain): add self-contained worker /goal condition template
  .beads/interactions.jsonl
  dev-flow/commands/drain.md
Due: lint-markdown, fmt-markdown

feat(drain): Phase D emits the /goal condition instead of fire fiction
  .beads/interactions.jsonl
  dev-flow/commands/drain.md
Due: lint-markdown, fmt-markdown

feat(drain): stamp drain_workspace + drain_sentinel; resume recovers them
  .beads/interactions.jsonl
  dev-flow/commands/drain.md
Due: lint-markdown, fmt-markdown

feat(draining-beads): relocate worker protocol + add /goal control-model guidance
  .beads/interactions.jsonl
  dev-flow/skills/draining-beads/SKILL.md
Due: lint-markdown, fmt-markdown

refactor(drain): remove inline iteration body (now in the skill)
  .beads/interactions.jsonl
  dev-flow/commands/drain.md
Due: lint-markdown, fmt-markdown

feat(drain): add worker mode to attach a fresh /goal worker
  .beads/interactions.jsonl
  dev-flow/commands/drain.md
Due: lint-markdown, fmt-markdown

docs(draining-beads): fix stale cross-refs; note worker mode in AGENTS
  .beads/interactions.jsonl
  dev-flow/AGENTS.md
  dev-flow/skills/draining-beads/SKILL.md
Due: lint-markdown, fmt-markdown

feat(drain): /goal cold-boot handoff — condition as pointer, protocol in skill, bead as carrier (fhsk-a49) (#94)
  .beads/interactions.jsonl
  dev-flow/AGENTS.md
  dev-flow/commands/drain.md
  dev-flow/skills/draining-beads/SKILL.md
  tests/test_drain_skill.py
Due: lint-markdown, fmt-markdown, ruff-check, ruff-format

fix(adr): render-adr uses created_at for Date + merges body References (fhsk-1w9)
  dev-flow/scripts/render-adr
  docs/adr/fhsk-0o2-split-drain-harness-into-formula-command-and-skill.md
Due: lint-markdown, fmt-markdown

fix(adr): render-adr Date from created_at + merge body References (fhsk-1w9) (#95)
  dev-flow/scripts/render-adr
  docs/adr/fhsk-0o2-split-drain-harness-into-formula-command-and-skill.md
Due: lint-markdown, fmt-markdown

docs(drain): spec + plan + ADR for /drain-with-worker worker-pane launcher (fhsk-jmn)
  .beads/interactions.jsonl
  docs/adr/README.md
  docs/adr/fhsk-dtk-gate-drain-worker-launch-behind-askuserquestion-never-auto-f.md
  docs/superpowers/plans/2026-05-25-drain-with-worker.md
  docs/superpowers/specs/2026-05-25-drain-with-worker-design.md
Due: lint-markdown, fmt-markdown

feat(drain): add jj:jujutsu clause to canonical worker condition (fhsk-jmn.1)
  .beads/interactions.jsonl
  dev-flow/commands/drain.md
  tests/test_drain_skill.py
Due: lint-markdown, fmt-markdown, ruff-check, ruff-format

feat(drain): bug-fixed drain-with-worker launch reference (fhsk-jmn.2)
  .beads/interactions.jsonl
  dev-flow/references/drain-with-worker.md
  tests/test_drain_skill.py
Due: lint-markdown, fmt-markdown, ruff-check, ruff-format

test(drain): byte-identity test for worker condition (fhsk-jmn.3)
  .beads/interactions.jsonl
  tests/test_drain_skill.py
Due: ruff-check, ruff-format

feat(drain): /drain-with-worker command (fhsk-jmn.4)
  .beads/interactions.jsonl
  dev-flow/commands/drain-with-worker.md
  tests/test_drain_skill.py
Due: lint-markdown, fmt-markdown, ruff-check, ruff-format

feat(drain): cmux-aware handoff in /drain epic Phase D + allowed-tools delta (fhsk-jmn.5)
  .beads/interactions.jsonl
  dev-flow/commands/drain.md
  tests/test_drain_skill.py
Due: lint-markdown, fmt-markdown, ruff-check, ruff-format

docs(drain): document /drain-with-worker in dev-flow AGENTS.md (fhsk-jmn.6)
  .beads/interactions.jsonl
  dev-flow/AGENTS.md
  tests/test_drain_skill.py
Due: lint-markdown, fmt-markdown, ruff-check, ruff-format

feat(drain): /drain-with-worker autonomous worker-pane launcher (#97)
  .beads/interactions.jsonl
  dev-flow/AGENTS.md
  dev-flow/commands/drain-with-worker.md
  dev-flow/commands/drain.md
  dev-flow/references/drain-with-worker.md
  docs/adr/README.md
  docs/adr/fhsk-dtk-gate-drain-worker-launch-behind-askuserquestion-never-auto-f.md
  docs/superpowers/plans/2026-05-25-drain-with-worker.md
  docs/superpowers/specs/2026-05-25-drain-with-worker-design.md
  tests/test_drain_skill.py
Due: lint-markdown, fmt-markdown, ruff-check, ruff-format

feat(pr-review): anti-slop design docs + pattern catalogs (fhsk-rhh.1, .2)
  .beads/interactions.jsonl
  docs/adr/README.md
  docs/adr/fhsk-2us-use-active-aspects-deferral-cross-aspect-deduplication-slop.md
  docs/superpowers/plans/2026-05-28-anti-ai-slop-review-aspect.md
  docs/superpowers/specs/2026-05-28-anti-ai-slop-review-aspect-design.md
  pr-review/references/code-slop.md
  pr-review/references/prose-slop.md
Due: lint-markdown, fmt-markdown

feat(pr-review): slop-hunter agent + orchestrator wiring (fhsk-rhh.3, .4)
  .beads/interactions.jsonl
  pr-review/agents/slop-hunter.md
  pr-review/skills/review-pr/SKILL.md
Due: lint-markdown, fmt-markdown

feat(pr-review): anti-AI-slop review aspect (slop-hunter) (#99)
  .beads/interactions.jsonl
  docs/adr/README.md
  docs/adr/fhsk-2us-use-active-aspects-deferral-cross-aspect-deduplication-slop.md
  docs/superpowers/plans/2026-05-28-anti-ai-slop-review-aspect.md
  docs/superpowers/specs/2026-05-28-anti-ai-slop-review-aspect-design.md
  pr-review/agents/slop-hunter.md
  pr-review/references/code-slop.md
  pr-review/references/prose-slop.md
  pr-review/skills/review-pr/SKILL.md
Due: lint-markdown, fmt-markdown

refactor(dev-flow): move pr-review tree into dev-flow + design docs (fhsk-ddw.1)
  .beads/interactions.jsonl
  dev-flow/agents/api-contract-checker.md
  dev-flow/agents/code-reviewer.md
  dev-flow/agents/code-simplifier.md
  dev-flow/agents/comment-analyzer.md
  dev-flow/agents/fix-worker.md
  dev-flow/agents/pr-test-analyzer.md
  dev-flow/agents/review-gate.md
  dev-flow/agents/security-auditor.md
  dev-flow/agents/silent-failure-hunter.md
  dev-flow/agents/slop-hunter.md
  dev-flow/agents/spec-compliance.md
  dev-flow/agents/type-design-analyzer.md
  dev-flow/agents/verification-runner.md
  dev-flow/evals/evals.json
  dev-flow/evals/evals.schema.json
  dev-flow/references/code-slop.md
  dev-flow/references/prose-slop.md
  dev-flow/references/vcs-detection-preamble.md
  dev-flow/references/vcs-equivalence.md
  dev-flow/skills/address-findings/CHANGELOG.md
  dev-flow/skills/address-findings/SKILL.md
  dev-flow/skills/address-findings/references/bd-reference.md
  dev-flow/skills/respond-to-comments/CHANGELOG.md
  dev-flow/skills/respond-to-comments/SKILL.md
  dev-flow/skills/respond-to-comments/references/DESIGN.md
  dev-flow/skills/respond-to-comments/scripts/pr_comments
  dev-flow/skills/review-pr/CHANGELOG.md
  dev-flow/skills/review-pr/SKILL.md
  docs/superpowers/plans/2026-05-28-consolidate-pr-review-under-dev-flow.md
  docs/superpowers/specs/2026-05-28-consolidate-pr-review-under-dev-flow-design.md
  pr-review/CHANGELOG.md
  pr-review/plugin.json
Due: lint-markdown, fmt-markdown

refactor(dev-flow): retarget pr-review path refs + drop version markers (fhsk-ddw.2)
  .beads/interactions.jsonl
  dev-flow/agents/api-contract-checker.md
  dev-flow/agents/code-reviewer.md
  dev-flow/agents/code-simplifier.md
  dev-flow/agents/comment-analyzer.md
  dev-flow/agents/fix-worker.md
  dev-flow/agents/pr-test-analyzer.md
  dev-flow/agents/review-gate.md
  dev-flow/agents/security-auditor.md
  dev-flow/agents/silent-failure-hunter.md
  dev-flow/agents/slop-hunter.md
  dev-flow/agents/spec-compliance.md
  dev-flow/agents/type-design-analyzer.md
  dev-flow/agents/verification-runner.md
  dev-flow/evals/evals.schema.json
  dev-flow/references/vcs-detection-preamble.md
  dev-flow/skills/address-findings/SKILL.md
  dev-flow/skills/respond-to-comments/SKILL.md
  dev-flow/skills/review-pr/SKILL.md
Due: lint-markdown, fmt-markdown

refactor(dev-flow): drop pr-review from marketplaces + add dev-flow agents symlink (fhsk-ddw.3)
  .agents/plugins/marketplace.json
  .beads/interactions.jsonl
  .claude-plugin/marketplace.json
  plugins/dev-flow/agents
  plugins/pr-review/.codex-plugin/plugin.json
  plugins/pr-review/agents
  plugins/pr-review/references
  plugins/pr-review/skills
Due: none

chore(dev-flow): drop pr-review release-please packages (fhsk-ddw.4)
  .beads/interactions.jsonl
  .release-please-manifest.json
  release-please-config.json
Due: none

test(dev-flow): update agent + marketplace tests for consolidation (fhsk-ddw.5)
  .beads/interactions.jsonl
  tests/test_agent_guidance_docs.py
  tests/test_codex_marketplace.py
Due: ruff-check, ruff-format

docs(dev-flow): update AGENTS.md + README for pr-review consolidation (fhsk-ddw.6)
  .beads/interactions.jsonl
  AGENTS.md
  README.md
Due: lint-markdown, fmt-markdown

ci(dev-flow): retarget check-skills.yml pr-review paths to dev-flow (fhsk-ddw)
  .beads/interactions.jsonl
  .github/workflows/check-skills.yml
Due: none

refactor(dev-flow): merge vcs-detection-preamble into vcs-preamble + design docs (fhsk-cph.3)
  .beads/interactions.jsonl
  dev-flow/references/vcs-detection-preamble.md
  dev-flow/references/vcs-preamble.md
  docs/superpowers/plans/2026-05-28-wire-review-pipeline-seams.md
  docs/superpowers/specs/2026-05-28-wire-review-pipeline-seams-design.md
Due: lint-markdown, fmt-markdown

refactor(dev-flow): retarget vcs-detection-preamble refs to vcs-preamble (fhsk-cph.4)
  .beads/interactions.jsonl
  dev-flow/agents/api-contract-checker.md
  dev-flow/agents/code-reviewer.md
  dev-flow/agents/code-simplifier.md
  dev-flow/agents/comment-analyzer.md
  dev-flow/agents/fix-worker.md
  dev-flow/agents/pr-test-analyzer.md
  dev-flow/agents/security-auditor.md
  dev-flow/agents/silent-failure-hunter.md
  dev-flow/agents/slop-hunter.md
  dev-flow/agents/spec-compliance.md
  dev-flow/agents/type-design-analyzer.md
  dev-flow/agents/verification-runner.md
  dev-flow/evals/evals.json
  dev-flow/references/vcs-equivalence.md
  dev-flow/skills/address-findings/SKILL.md
  dev-flow/skills/respond-to-comments/SKILL.md
  dev-flow/skills/review-pr/SKILL.md
Due: lint-markdown, fmt-markdown

test(dev-flow): key agent-guidance filter on merged vcs-preamble (fhsk-cph.5)
  .beads/interactions.jsonl
  tests/test_agent_guidance_docs.py
Due: ruff-check, ruff-format

feat(dev-flow): suggest /review-pr after PR creation (fhsk-cph.1)
  .beads/interactions.jsonl
  dev-flow/skills/finishing-a-development-branch/SKILL.md
Due: lint-markdown, fmt-markdown

feat(dev-flow): suggest /address-findings after review-pr (fhsk-cph.2)
  .beads/interactions.jsonl
  dev-flow/skills/review-pr/SKILL.md
Due: lint-markdown, fmt-markdown

docs(dev-flow): disambiguate code-reviewer agent vs requesting-code-review template (fhsk-cph.6)
  .beads/interactions.jsonl
  dev-flow/agents/code-reviewer.md
  dev-flow/skills/requesting-code-review/code-reviewer.md
  dev-flow/skills/subagent-driven-development/SKILL.md
Due: lint-markdown, fmt-markdown

docs(dev-flow): add pipeline flow diagram + legend (fhsk-cph)
  docs/dev-flow-pipeline.md
Due: lint-markdown, fmt-markdown
