Repository fzymgc-house/fzymgc-house-skills: changes, and which lefthook commands are due for each by the changed paths.
All: lint-markdown, fmt-markdown, ruff-check, ruff-format

lint-markdown:
  run: rumdl check {staged_files}

fmt-markdown:
  run: rumdl fmt {staged_files}
  stage_fixed: true

ruff-check:
  run: ruff check --fix {staged_files}
  stage_fixed: true

ruff-format:
  run: ruff format {staged_files}
  stage_fixed: true

style(dev-flow): apply rumdl fmt fixups bundled during rename
  dev-flow/CHANGELOG.md
  dev-flow/skills/brainstorming/CHANGELOG.md
  dev-flow/skills/brainstorming/spec-document-reviewer-prompt.md
  dev-flow/skills/brainstorming/visual-companion.md
  dev-flow/skills/dispatching-parallel-agents/SKILL.md
  dev-flow/skills/executing-plans/CHANGELOG.md
  dev-flow/skills/finishing-a-development-branch/CHANGELOG.md
  dev-flow/skills/receiving-code-review/SKILL.md
  dev-flow/skills/requesting-code-review/CHANGELOG.md
  dev-flow/skills/requesting-code-review/code-reviewer.md
  dev-flow/skills/subagent-driven-development/CHANGELOG.md
  dev-flow/skills/subagent-driven-development/implementer-prompt.md
  dev-flow/skills/subagent-driven-development/spec-reviewer-prompt.md
  dev-flow/skills/systematic-debugging/SKILL.md
  dev-flow/skills/systematic-debugging/condition-based-waiting.md
  dev-flow/skills/systematic-debugging/defense-in-depth.md
  dev-flow/skills/systematic-debugging/test-pressure-1.md
  dev-flow/skills/systematic-debugging/test-pressure-2.md
  dev-flow/skills/systematic-debugging/test-pressure-3.md
  dev-flow/skills/test-driven-development/SKILL.md
  dev-flow/skills/test-driven-development/testing-anti-patterns.md
  dev-flow/skills/using-worktrees/CHANGELOG.md
  dev-flow/skills/verification-before-completion/SKILL.md
  dev-flow/skills/writing-plans/CHANGELOG.md
  dev-flow/skills/writing-plans/plan-document-reviewer-prompt.md
  dev-flow/skills/writing-skills/SKILL.md
  dev-flow/skills/writing-skills/anthropic-best-practices.md
  dev-flow/skills/writing-skills/examples/CLAUDE_MD_TESTING.md
  dev-flow/skills/writing-skills/persuasion-principles.md
  dev-flow/skills/writing-skills/testing-skills-with-subagents.md
Due: lint-markdown, fmt-markdown

chore(release-please): rename superpowers component to dev-flow
  .release-please-manifest.json
  release-please-config.json
Due: none

docs(agents): update AGENTS.md references for dev-flow rename
  CLAUDE.md
Due: lint-markdown, fmt-markdown

refactor(dev-flow): drop per-skill upstream metadata; single plugin README attribution
  dev-flow/README.md
  dev-flow/skills/finishing-a-development-branch/SKILL.md
  dev-flow/skills/requesting-code-review/SKILL.md
  dev-flow/skills/using-worktrees/SKILL.md
Due: lint-markdown, fmt-markdown

refactor(dev-flow): rename sync-upstream to scan-upstream; reframe as changelog reader
  dev-flow/scripts/scan-upstream
Due: none

docs(readme): update plugin references for dev-flow rename
  README.md
Due: lint-markdown, fmt-markdown

design+plan: dev-flow rebrand + beads integration (spec + impl plan) (#66)
  docs/superpowers/plans/2026-05-14-dev-flow-beads-integration.md
  docs/superpowers/specs/2026-05-14-dev-flow-beads-integration-design.md
Due: lint-markdown, fmt-markdown

ci(lint): update workflow paths for dev-flow rename; fix pre-existing MD077
  .github/workflows/check-skills.yml
  pr-review/skills/address-findings/SKILL.md
Due: lint-markdown, fmt-markdown

docs(dev-flow): codify Rules 1-7 in dev-flow/AGENTS.md (Phase 2)
  CLAUDE.md
  dev-flow/AGENTS.md
Due: lint-markdown, fmt-markdown

feat(dev-flow): lift plan-to-beads skill from holomush
  dev-flow/skills/plan-to-beads/SKILL.md
Due: lint-markdown, fmt-markdown

feat(dev-flow): lift bead-create-smart skill from holomush
  dev-flow/skills/bead-create-smart/SKILL.md
Due: lint-markdown, fmt-markdown

feat(dev-flow): lift handoff-prompt skill from holomush
  dev-flow/skills/handoff-prompt/SKILL.md
Due: lint-markdown, fmt-markdown

feat(dev-flow): Phase 2 — codify Rules 1-7 in dev-flow/AGENTS.md (#68)
  CLAUDE.md
  dev-flow/AGENTS.md
Due: lint-markdown, fmt-markdown

feat(dev-flow): Phase 3 — lift plan-to-beads, bead-create-smart, handoff-prompt (#69)
  dev-flow/skills/bead-create-smart/SKILL.md
  dev-flow/skills/handoff-prompt/SKILL.md
  dev-flow/skills/plan-to-beads/SKILL.md
Due: lint-markdown, fmt-markdown

feat(adr): lift adr-extractor agent; tools per Rule 7
  dev-flow/agents/adr-extractor.md
Due: lint-markdown, fmt-markdown

feat(adr): lift adr-doctor.sh; wire into lefthook (changed-only) + CI (full pass)
  .github/workflows/check-skills.yml
  dev-flow/scripts/adr-doctor.sh
  lefthook.yml
Due: none

feat(adr): set up docs/adr/ with README + index sentinels
  docs/adr/README.md
  tests/test_adr_docs.py
Due: lint-markdown, fmt-markdown, ruff-check, ruff-format

feat(adr): lift capture-adrs skill + slash command
  dev-flow/commands/capture-adrs.md
  dev-flow/skills/capture-adrs/SKILL.md
Due: lint-markdown, fmt-markdown

feat(adr): lift nudge-adr-capture PostToolUse hook + test harness
  .github/workflows/check-skills.yml
  dev-flow/hooks/hooks.json
  dev-flow/hooks/nudge-adr-capture
  dev-flow/hooks/tests/test_nudge_adr_capture.py
  dev-flow/hooks/tests/test_nudge_adr_capture.sh
Due: ruff-check, ruff-format

feat(dev-flow): add design-reviewer agent + /review-design command
  dev-flow/agents/design-reviewer.md
  dev-flow/commands/review-design.md
  tests/test_review_gate_agents.py
Due: lint-markdown, fmt-markdown, ruff-check, ruff-format

feat(dev-flow): add plan-reviewer agent + /review-plan command
  dev-flow/agents/plan-reviewer.md
  dev-flow/commands/review-plan.md
Due: lint-markdown, fmt-markdown

feat(dev-flow): Phase 4 — ADR capture subsystem (skill + agent + hook + doctor) (#70)
  .github/workflows/check-skills.yml
  dev-flow/agents/adr-extractor.md
  dev-flow/commands/capture-adrs.md
  dev-flow/hooks/hooks.json
  dev-flow/hooks/nudge-adr-capture
  dev-flow/hooks/tests/test_nudge_adr_capture.py
  dev-flow/hooks/tests/test_nudge_adr_capture.sh
  dev-flow/scripts/adr-doctor.sh
  dev-flow/skills/capture-adrs/SKILL.md
  docs/adr/README.md
  lefthook.yml
  tests/test_adr_docs.py
Due: lint-markdown, fmt-markdown, ruff-check, ruff-format

feat(dev-flow): Phase 5 — design-reviewer + plan-reviewer agents (#71)
  dev-flow/agents/design-reviewer.md
  dev-flow/agents/plan-reviewer.md
  dev-flow/commands/review-design.md
  dev-flow/commands/review-plan.md
  tests/test_review_gate_agents.py
Due: lint-markdown, fmt-markdown, ruff-check, ruff-format

feat(brainstorming): integrate design bead + Rule 7 grounding + design-reviewer auto-fire
  dev-flow/skills/brainstorming/SKILL.md
Due: lint-markdown, fmt-markdown

feat(writing-plans): integrate plan-reviewer + auto-fire capture-adrs + plan-to-beads
  dev-flow/skills/writing-plans/SKILL.md
Due: lint-markdown, fmt-markdown

feat(finishing-a-development-branch): pre-flight bd check + interactive close after merge
  dev-flow/skills/finishing-a-development-branch/SKILL.md
Due: lint-markdown, fmt-markdown

feat(subagent-driven-development): bd ready + model-label dispatch
  dev-flow/skills/subagent-driven-development/SKILL.md
Due: lint-markdown, fmt-markdown

feat(executing-plans): bd-driven serial execution + model labels
  dev-flow/skills/executing-plans/SKILL.md
Due: lint-markdown, fmt-markdown

feat(dev-flow): Phase 6 — wire existing skills into beads + review-gate workflow (#72)
  dev-flow/skills/brainstorming/SKILL.md
  dev-flow/skills/executing-plans/SKILL.md
  dev-flow/skills/finishing-a-development-branch/SKILL.md
  dev-flow/skills/subagent-driven-development/SKILL.md
  dev-flow/skills/writing-plans/SKILL.md
Due: lint-markdown, fmt-markdown

refactor(dev-flow): rebrand user-visible strings; superpowers -> dev-flow
  dev-flow/hooks/session-start
  plugins/dev-flow/.codex-plugin/plugin.json
Due: none

refactor(scan-upstream): remove auto-apply behavior; pure changelog reader
  dev-flow/scripts/scan-upstream
Due: none

fix(docs): make AGENTS.md the canonical file, CLAUDE.md the symlink
  AGENTS.md
  CLAUDE.md
  tests/test_agent_guidance_docs.py
Due: lint-markdown, fmt-markdown, ruff-check, ruff-format

chore(dev-flow): rebrand cleanup — scan-upstream auto-apply removal + Codex UI strings + SessionStart hook strings (#73)
  dev-flow/hooks/session-start
  dev-flow/scripts/scan-upstream
  plugins/dev-flow/.codex-plugin/plugin.json
Due: none

fix(docs): make AGENTS.md the canonical file, CLAUDE.md the symlink (supersedes #65) (#74)
  AGENTS.md
  CLAUDE.md
  tests/test_agent_guidance_docs.py
Due: lint-markdown, fmt-markdown, ruff-check, ruff-format

fix(jj): block chain-truncating `jj rebase -r @` pre-push
  jj/hooks/guard-jj-rebase-chain
  jj/hooks/session-start-jj-detect
  jj/hooks/tests/test_guard_jj_rebase_chain.py
  jj/hooks/tests/test_session_start_jj_detect.py
  jj/plugin.json
  jj/skills/jujutsu/SKILL.md
  jj/skills/jujutsu/references/workflows-reference.md
Due: lint-markdown, fmt-markdown, ruff-check, ruff-format

fix(jj): block chain-truncating `jj rebase -r @` pre-push (#75)
  jj/hooks/guard-jj-rebase-chain
  jj/hooks/session-start-jj-detect
  jj/hooks/tests/test_guard_jj_rebase_chain.py
  jj/hooks/tests/test_session_start_jj_detect.py
  jj/plugin.json
  jj/skills/jujutsu/SKILL.md
  jj/skills/jujutsu/references/workflows-reference.md
Due: lint-markdown, fmt-markdown, ruff-check, ruff-format

bd init: initialize beads issue tracking
  .beads/.gitignore
  .beads/README.md
  .beads/config.yaml
  .beads/interactions.jsonl
  .beads/metadata.json
  .gitignore
  AGENTS.md
Due: lint-markdown, fmt-markdown

chore(beads): beads shared setup
  .beads/config.yaml
Due: none

chore/beads update (#77)
  .beads/.gitignore
  .beads/README.md
  .beads/config.yaml
  .beads/interactions.jsonl
  .beads/metadata.json
  .gitignore
  AGENTS.md
Due: lint-markdown, fmt-markdown

Path conditions:
  lint-markdown: any of: *.md
  fmt-markdown: any of: *.md
  ruff-check: any of: *.py
  ruff-format: any of: *.py
