Repository fzymgc-house/fzymgc-house-skills: changes, and which lefthook commands are due for each by the changed paths.
All: lint-markdown, fmt-markdown, ruff-check, ruff-format

lefthook.yml:

# Lefthook configuration
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    lint-markdown:
      glob: "*.md"
      run: rumdl check {staged_files}

    fmt-markdown:
      glob: "*.md"
      run: rumdl fmt {staged_files}
      stage_fixed: true

    ruff-check:
      glob: "*.py"
      run: ruff check --fix {staged_files}
      stage_fixed: true

    ruff-format:
      glob: "*.py"
      run: ruff format {staged_files}
      stage_fixed: true

commit-msg:
  commands:
    conventional-commit:
      run: cog verify --file {1}

fix(adr-doctor): resolve bd-id from Decision line for hyphenated prefixes (fhsk-51g)
  dev-flow/scripts/_adr_doctor.py
  dev-flow/scripts/adr-doctor
  dev-flow/scripts/tests/test_adr_doctor.py
Due: ruff-check, ruff-format

fix(adr-doctor): resolve bd-id from Decision line for hyphenated prefixes (fhsk-51g) (#185)
  dev-flow/scripts/_adr_doctor.py
  dev-flow/scripts/adr-doctor
  dev-flow/scripts/tests/test_adr_doctor.py
Due: ruff-check, ruff-format

refactor(grepping): extract grepping skill and rg nudge hooks into standalone plugin
  .agents/plugins/marketplace.json
  .claude-plugin/marketplace.json
  AGENTS.md
  README.md
  Taskfile.yaml
  dev-flow/hooks/hooks.json
  dev-flow/references/upstream-manifest.md
  grepping/hooks/hooks.json
  grepping/hooks/nudge-rg-failure
  grepping/hooks/nudge-rg-over-grep
  grepping/hooks/tests/test_nudge_rg_over_grep.py
  grepping/plugin.json
  grepping/skills/grepping/SKILL.md
  grepping/skills/grepping/references/ast-grep.md
  grepping/skills/grepping/references/grep.md
  grepping/skills/grepping/references/ripgrep.md
  grepping/skills/grepping/references/ugrep.md
  plugins/grepping/.codex-plugin/plugin.json
  plugins/grepping/hooks
  plugins/grepping/skills
  release-please-config.json
  tests/test_codex_marketplace.py
Due: lint-markdown, fmt-markdown, ruff-check, ruff-format

refactor(grepping): extract grepping skill and rg nudge hooks into standalone plugin (#187)
  .agents/plugins/marketplace.json
  .claude-plugin/marketplace.json
  AGENTS.md
  README.md
  Taskfile.yaml
  dev-flow/hooks/hooks.json
  dev-flow/references/upstream-manifest.md
  grepping/hooks/hooks.json
  grepping/hooks/nudge-rg-failure
  grepping/hooks/nudge-rg-over-grep
  grepping/hooks/tests/test_nudge_rg_over_grep.py
  grepping/plugin.json
  grepping/skills/grepping/SKILL.md
  grepping/skills/grepping/references/ast-grep.md
  grepping/skills/grepping/references/grep.md
  grepping/skills/grepping/references/ripgrep.md
  grepping/skills/grepping/references/ugrep.md
  plugins/grepping/.codex-plugin/plugin.json
  plugins/grepping/hooks
  plugins/grepping/skills
  release-please-config.json
  tests/test_codex_marketplace.py
Due: lint-markdown, fmt-markdown, ruff-check, ruff-format

docs: map existing codebase
  .planning/codebase/ARCHITECTURE.md
  .planning/codebase/CONCERNS.md
  .planning/codebase/CONVENTIONS.md
  .planning/codebase/INTEGRATIONS.md
  .planning/codebase/STACK.md
  .planning/codebase/STRUCTURE.md
  .planning/codebase/TESTING.md
Due: lint-markdown, fmt-markdown

docs(codebase-map): correct hook/script paths in CONCERNS.md
  .planning/codebase/CONCERNS.md
Due: lint-markdown, fmt-markdown

docs: map existing codebase (#188)
  .planning/codebase/ARCHITECTURE.md
  .planning/codebase/CONCERNS.md
  .planning/codebase/CONVENTIONS.md
  .planning/codebase/INTEGRATIONS.md
  .planning/codebase/STACK.md
  .planning/codebase/STRUCTURE.md
  .planning/codebase/TESTING.md
Due: lint-markdown, fmt-markdown

docs: ingest docs/plans into .planning/ (pass 1 of 3)
  .planning/INGEST-CONFLICTS.md
  .planning/PROJECT.md
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/intel/SYNTHESIS.md
  .planning/intel/classifications/2025-12-24-token-efficiency-design-38a3f8e7.json
  .planning/intel/classifications/2025-12-24-token-efficiency-implementation-8a12d4f1.json
  .planning/intel/classifications/2025-12-29-terraform-skill-design-7f2e8c3a.json
  .planning/intel/classifications/2025-12-29-terraform-skill-implementation-a24c8f3e.json
  .planning/intel/classifications/2026-02-15-beads-review-integration-implementation-c3f1e8a5.json
  .planning/intel/classifications/2026-02-16-address-review-findings-design-5f0e3d98.json
  .planning/intel/classifications/2026-02-16-address-review-findings-implementation-7f4a2e1c.json
  .planning/intel/classifications/2026-02-16-release-please-design-4f8e7c3b.json
  .planning/intel/classifications/2026-02-16-release-please-implementation-8e7f4a1c.json
  .planning/intel/classifications/2026-02-23-agent-plugin-restructure-design-2a8f7b3d.json
  .planning/intel/classifications/2026-02-23-agent-plugin-restructure-implementation-7e0c4e8a.json
  .planning/intel/classifications/2026-03-06-worktree-isolation-fix-6b3a2c41.json
  .planning/intel/classifications/2026-03-06-worktree-isolation-fix-design-8d69b5b2.json
  .planning/intel/classifications/2026-03-07-jj-vcs-support-1b8faa48.json
  .planning/intel/classifications/2026-03-07-jj-vcs-support-design-a3d8c7f1.json
  .planning/intel/classifications/2026-04-09-codex-marketplace-design-8f3c5a1b.json
  .planning/intel/classifications/2026-04-09-codex-marketplace-implementation-3c8f5a1d.json
  .planning/intel/classifications/2026-05-01-jj-skill-op-log-recovery-rule-design-bc4d0c40.json
  .planning/intel/classifications/2026-05-01-jj-skill-op-log-recovery-rule-implementation-fbe5c77d.json
  .planning/intel/classifications/beads-review-integration-design-0ea35b3f.json
  .planning/intel/constraints.md
  .planning/intel/context.md
  .planning/intel/decisions.md
  .planning/intel/requirements.md
Due: lint-markdown, fmt-markdown

docs(05): capture phase context
  .planning/phases/05-governance-reconciliation-reuse-hardening/05-CONTEXT.md
  .planning/phases/05-governance-reconciliation-reuse-hardening/05-DISCUSSION-LOG.md
Due: lint-markdown, fmt-markdown

docs(state): record phase 5 context session
  .planning/STATE.md
Due: lint-markdown, fmt-markdown

docs(05): create phase plan
  .planning/ROADMAP.md
  .planning/phases/05-governance-reconciliation-reuse-hardening/05-01-PLAN.md
  .planning/phases/05-governance-reconciliation-reuse-hardening/05-02-PLAN.md
Due: lint-markdown, fmt-markdown

docs(05): mark phase 5 ready to execute
  .planning/STATE.md
Due: lint-markdown, fmt-markdown

feat(05-01): author fhsk-o9o and supersede fhsk-dgo
  .beads/interactions.jsonl
  docs/adr/fhsk-dgo-use-release-please-file-plugin-versions-reverse-cog-tag-only.md
  docs/adr/fhsk-o9o-use-release-please-file-plugin-versions-across-six-shipped-m.md
Due: lint-markdown, fmt-markdown

feat(05-01): author fhsk-wdk recording shipped 5-plugin layout
  .beads/interactions.jsonl
  docs/adr/fhsk-wdk-record-shipped-5-plugin-root-layout-superseding-design-plan.md
Due: lint-markdown, fmt-markdown

docs(05-01): regenerate ADR index for fhsk-o9o and fhsk-wdk
  docs/adr/README.md
Due: lint-markdown, fmt-markdown

docs(05-01): complete governance ADR reconciliation plan
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/05-governance-reconciliation-reuse-hardening/05-01-SUMMARY.md
Due: lint-markdown, fmt-markdown

test(05-02): add failing skill-catalog drift gate (RED)
  tests/test_skill_catalog.py
Due: ruff-check, ruff-format

docs(05-02): complete README plugin catalog + adoption pointer
  README.md
Due: lint-markdown, fmt-markdown

docs(05-02): add docs/adoption.md and markdown-gate it (GREEN)
  Taskfile.yaml
  docs/adoption.md
Due: lint-markdown, fmt-markdown

docs(05-02): complete skill catalog discovery and adoption plan
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/05-governance-reconciliation-reuse-hardening/05-02-SUMMARY.md
Due: lint-markdown, fmt-markdown

docs(05): add code review report
  .planning/phases/05-governance-reconciliation-reuse-hardening/05-REVIEW.md
Due: lint-markdown, fmt-markdown

docs(phase-05): complete phase execution
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/05-governance-reconciliation-reuse-hardening/05-VERIFICATION.md
Due: lint-markdown, fmt-markdown

docs(phase-05): evolve PROJECT.md after phase completion
  .planning/PROJECT.md
Due: lint-markdown, fmt-markdown

docs(phase-05): finalize STATE.md after verification
  .planning/STATE.md
Due: lint-markdown, fmt-markdown

docs(05): ship phase 05 — PR #190
  .planning/STATE.md
Due: lint-markdown, fmt-markdown

docs: reconcile release-please governance ADRs and harden skill-catalog adoption (Phase 05) (#190)
  .beads/interactions.jsonl
  .planning/PROJECT.md
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/05-governance-reconciliation-reuse-hardening/05-01-PLAN.md
  .planning/phases/05-governance-reconciliation-reuse-hardening/05-01-SUMMARY.md
  .planning/phases/05-governance-reconciliation-reuse-hardening/05-02-PLAN.md
  .planning/phases/05-governance-reconciliation-reuse-hardening/05-02-SUMMARY.md
  .planning/phases/05-governance-reconciliation-reuse-hardening/05-CONTEXT.md
  .planning/phases/05-governance-reconciliation-reuse-hardening/05-DISCUSSION-LOG.md
  .planning/phases/05-governance-reconciliation-reuse-hardening/05-REVIEW.md
  .planning/phases/05-governance-reconciliation-reuse-hardening/05-VERIFICATION.md
  README.md
  Taskfile.yaml
  docs/adoption.md
  docs/adr/README.md
  docs/adr/fhsk-dgo-use-release-please-file-plugin-versions-reverse-cog-tag-only.md
  docs/adr/fhsk-o9o-use-release-please-file-plugin-versions-across-six-shipped-m.md
  docs/adr/fhsk-wdk-record-shipped-5-plugin-root-layout-superseding-design-plan.md
  tests/test_skill_catalog.py
Due: lint-markdown, fmt-markdown, ruff-check, ruff-format

chore: archive v1.0 milestone files
  .planning/MILESTONES.md
  .planning/PROJECT.md
  .planning/RETROSPECTIVE.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/milestones/v1.0-REQUIREMENTS.md
  .planning/milestones/v1.0-ROADMAP.md
Due: lint-markdown, fmt-markdown

chore: remove REQUIREMENTS.md for v1.0 milestone
  .planning/REQUIREMENTS.md
Due: lint-markdown, fmt-markdown

chore: archive v1.0 Skills Marketplace milestone (#191)
  .planning/MILESTONES.md
  .planning/PROJECT.md
  .planning/RETROSPECTIVE.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/milestones/v1.0-REQUIREMENTS.md
  .planning/milestones/v1.0-ROADMAP.md
Due: lint-markdown, fmt-markdown

chore: config
  .planning/config.json
Due: none

chore: config (#192)
  .planning/config.json
Due: none

chore: remove beads
  .beads/.gitignore
  .beads/README.md
  .beads/config.yaml
  .beads/interactions.jsonl
  .beads/metadata.json
Due: lint-markdown, fmt-markdown

chore: add in lefthook
  lefthook.yml
Due: none

chore/remove beads (#195)
  .beads/.gitignore
  .beads/README.md
  .beads/config.yaml
  .beads/interactions.jsonl
  .beads/metadata.json
  lefthook.yml
Due: lint-markdown, fmt-markdown

fix(grepping): block deterministic ripgrep failures
  AGENTS.md
  README.md
  grepping/hooks/hooks.json
  grepping/hooks/nudge-rg-failure
  grepping/hooks/nudge-rg-over-grep
  grepping/hooks/rg-guard
  grepping/hooks/rg_hooklib.py
  grepping/hooks/tests/conftest.py
  grepping/hooks/tests/test_nudge_rg_failure.py
  grepping/hooks/tests/test_nudge_rg_over_grep.py
  grepping/hooks/tests/test_rg_guard.py
  grepping/skills/grepping/SKILL.md
Due: lint-markdown, fmt-markdown, ruff-check, ruff-format

refactor(grepping): drop probe nudging and harden rg-guard parsing
  grepping/hooks/nudge-rg-failure
  grepping/hooks/rg-guard
  grepping/hooks/rg_hooklib.py
  grepping/hooks/tests/conftest.py
  grepping/hooks/tests/test_nudge_rg_failure.py
  grepping/hooks/tests/test_rg_guard.py
  grepping/skills/grepping/SKILL.md
  grepping/skills/grepping/references/ast-grep.md
Due: lint-markdown, fmt-markdown, ruff-check, ruff-format
