Repository fzymgc-house/fzymgc-house-skills: changes, and which lefthook commands are due for each by the changed paths.
All: lint-markdown, fmt-markdown, ruff-check, ruff-format

lefthook.yml:

# Lefthook configuration
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    lint-markdown:
      glob: "*.md"
      run: rumdl check {staged_files}

    fmt-markdown:
      glob: "*.md"
      run: rumdl fmt {staged_files}
      stage_fixed: true

    ruff-check:
      glob: "*.py"
      run: ruff check --fix {staged_files}
      stage_fixed: true

    ruff-format:
      glob: "*.py"
      run: ruff format {staged_files}
      stage_fixed: true

commit-msg:
  commands:
    conventional-commit:
      run: cog verify --file {1}

fix(hooks): address PR #31 review findings (round 1)
  .claude/hooks/tests/test_worktree_remove.py
  .claude/hooks/worktree-create
  .claude/hooks/worktree-remove
  .claude/hooks/worktree_helpers.py
  .github/workflows/check-skills.yml
  pr-review/references/vcs-detection-preamble.md
Due: lint-markdown, fmt-markdown, ruff-check, ruff-format

fix(hooks): address PR #31 review findings (round 2)
  .claude/hooks/tests/conftest.py
  .claude/hooks/tests/test_worktree_create.py
  .claude/hooks/tests/test_worktree_helpers.py
  .claude/hooks/tests/test_worktree_remove.py
  .claude/hooks/worktree-create
Due: ruff-check, ruff-format

test(hooks): address PR #31 review findings (round 3)
  .claude/hooks/tests/test_worktree_create.py
Due: ruff-check, ruff-format

fix(hooks): return exit 1 on malformed input in worktree-remove
  .claude/hooks/worktree-remove
Due: none

fix(hooks): guard worktree-create cleanup against pre-existing directories
  .claude/hooks/worktree-create
Due: none

refactor(hooks): consolidate validate_safe_name error messages
  .claude/hooks/worktree_helpers.py
Due: ruff-check, ruff-format

fix(hooks): handle FileNotFoundError in run_cmd and add lefthook binary guard
  .claude/hooks/worktree-create
  .claude/hooks/worktree_helpers.py
Due: ruff-check, ruff-format

test(hooks): add test for _cleanup when jj workspace forget fails
  .claude/hooks/tests/test_worktree_create.py
Due: ruff-check, ruff-format

fix(hooks): defend detect_repo_root against CWD inside worktree
  .claude/hooks/worktree-remove
Due: none

test(hooks): add test for worktree-remove inferred repo root fallback
  .claude/hooks/tests/test_worktree_remove.py
Due: ruff-check, ruff-format

fix(hooks): add LEAKED_WORKSPACE marker for machine-parseable metadata leak detection
  .claude/hooks/worktree-create
Due: none

fix(hooks): return exit 0 when jj absent but directory removed in worktree-remove
  .claude/hooks/worktree-remove
Due: none

test(hooks): add symlink traversal safety test for worktree-remove
  .claude/hooks/tests/test_worktree_remove.py
Due: ruff-check, ruff-format

fix(hooks): add SIGTERM handler so cleanup fires on timeout
  .claude/hooks/worktree-create
Due: none

test(hooks): add test for git branch-already-exists failure in worktree-create
  .claude/hooks/tests/test_worktree_create.py
Due: ruff-check, ruff-format

fix(hooks): remove unused os and subprocess imports from worktree-create
  .claude/hooks/worktree-create
Due: none

test(jj): add evals for @ vs @- semantics and workspace collision
  jj/evals/evals.json
Due: none

test(hooks): add formatter invocation verification to post-edit-format tests
  .claude/hooks/tests/test_post_edit_format.py
Due: ruff-check, ruff-format

fix(tests): update worktree-remove tests for new exit code semantics
  .claude/hooks/tests/test_worktree_remove.py
Due: ruff-check, ruff-format

fix(hooks): address turn 2 review findings for PR #31
  .claude/hooks/post-edit-format
  .claude/hooks/worktree-remove
  .claude/hooks/worktree_helpers.py
  AGENTS.md
  pr-review/skills/address-findings/SKILL.md
Due: lint-markdown, fmt-markdown, ruff-check, ruff-format

fix(hooks): address turn 3 review findings for PR #31
  .claude/hooks/post-edit-format
  .claude/hooks/worktree-create
  .claude/hooks/worktree-remove
Due: none

fix(ci): fix jj tarball extraction for GNU tar
  .github/workflows/check-skills.yml
Due: none

fix(ci): add --with pytest to uv run command
  .github/workflows/check-skills.yml
Due: none

fix(tests): fix CI failures for formatter and jj-not-installed tests
  .claude/hooks/tests/test_post_edit_format.py
  .claude/hooks/tests/test_worktree_create.py
Due: ruff-check, ruff-format

feat(jj): add PreToolUse guard and SessionStart detection hooks
  jj/hooks/guard-git-mutating
  jj/hooks/session-start-jj-detect
  jj/plugin.json
Due: none

fix(jj): address turn 4 review findings for hooks
  jj/hooks/guard-git-mutating
  jj/hooks/session-start-jj-detect
  jj/hooks/tests/__init__.py
  jj/hooks/tests/test_guard_git_mutating.py
  jj/hooks/tests/test_session_start_jj_detect.py
Due: ruff-check, ruff-format

fix(jj): address turn 5 review findings
  .github/workflows/check-skills.yml
  jj/hooks/guard-git-mutating
  jj/hooks/tests/test_guard_git_mutating.py
  jj/hooks/tests/test_session_start_jj_detect.py
Due: ruff-check, ruff-format

fix(ci): use --import-mode=importlib for pytest with multiple test dirs
  .github/workflows/check-skills.yml
Due: none

feat(jj): add GitHub squash-merge workflow and update rebase syntax
  jj/skills/jujutsu/SKILL.md
  jj/skills/jujutsu/references/jj-git-interop.md
  jj/skills/jujutsu/references/jj-reference.md
  jj/skills/jujutsu/references/workflows-reference.md
  pr-review/references/vcs-equivalence.md
  pr-review/skills/address-findings/SKILL.md
Due: lint-markdown, fmt-markdown

docs(jj): add lost-work footgun warning for jj new
  jj/skills/jujutsu/SKILL.md
  jj/skills/jujutsu/references/workflows-reference.md
Due: lint-markdown, fmt-markdown

feat(jj): add squash-merge workflow and update rebase syntax (#33)
  jj/skills/jujutsu/SKILL.md
  jj/skills/jujutsu/references/jj-git-interop.md
  jj/skills/jujutsu/references/jj-reference.md
  jj/skills/jujutsu/references/workflows-reference.md
  pr-review/references/vcs-equivalence.md
  pr-review/skills/address-findings/SKILL.md
Due: lint-markdown, fmt-markdown

docs(superpowers): add design spec for jj VCS support fork
  docs/superpowers/plans/2026-03-16-superpowers-jj-fork.md
  docs/superpowers/specs/2026-03-16-superpowers-jj-fork-design.md
Due: lint-markdown, fmt-markdown

feat(superpowers): scaffold plugin with VCS preamble and upstream manifest
  superpowers/plugin.json
  superpowers/references/upstream-manifest.md
  superpowers/references/vcs-preamble.md
Due: lint-markdown, fmt-markdown

feat(superpowers): copy 7 verbatim skills from upstream v5.0.2
  superpowers/skills/dispatching-parallel-agents/SKILL.md
  superpowers/skills/receiving-code-review/SKILL.md
  superpowers/skills/systematic-debugging/CREATION-LOG.md
  superpowers/skills/systematic-debugging/SKILL.md
  superpowers/skills/systematic-debugging/condition-based-waiting-example.ts
  superpowers/skills/systematic-debugging/condition-based-waiting.md
  superpowers/skills/systematic-debugging/defense-in-depth.md
  superpowers/skills/systematic-debugging/find-polluter.sh
  superpowers/skills/systematic-debugging/root-cause-tracing.md
  superpowers/skills/systematic-debugging/test-academic.md
  superpowers/skills/systematic-debugging/test-pressure-1.md
  superpowers/skills/systematic-debugging/test-pressure-2.md
  superpowers/skills/systematic-debugging/test-pressure-3.md
  superpowers/skills/test-driven-development/SKILL.md
  superpowers/skills/test-driven-development/testing-anti-patterns.md
  superpowers/skills/using-superpowers/SKILL.md
  superpowers/skills/using-superpowers/references/codex-tools.md
  superpowers/skills/using-superpowers/references/gemini-tools.md
  superpowers/skills/verification-before-completion/SKILL.md
  superpowers/skills/writing-skills/SKILL.md
  superpowers/skills/writing-skills/anthropic-best-practices.md
  superpowers/skills/writing-skills/examples/CLAUDE_MD_TESTING.md
  superpowers/skills/writing-skills/graphviz-conventions.dot
  superpowers/skills/writing-skills/persuasion-principles.md
  superpowers/skills/writing-skills/render-graphs.js
  superpowers/skills/writing-skills/testing-skills-with-subagents.md
Due: lint-markdown, fmt-markdown

feat(superpowers): add heavy VCS modifications (worktrees, finishing, review)
  superpowers/skills/finishing-a-development-branch/SKILL.md
  superpowers/skills/requesting-code-review/SKILL.md
  superpowers/skills/requesting-code-review/code-reviewer.md
  superpowers/skills/using-git-worktrees/SKILL.md
  superpowers/skills/using-worktrees/SKILL.md
Due: lint-markdown, fmt-markdown

feat(superpowers): add light VCS modifications to 4 skills
  superpowers/skills/brainstorming/SKILL.md
  superpowers/skills/brainstorming/scripts/frame-template.html
  superpowers/skills/brainstorming/scripts/helper.js
  superpowers/skills/brainstorming/scripts/server.js
  superpowers/skills/brainstorming/scripts/start-server.sh
  superpowers/skills/brainstorming/scripts/stop-server.sh
  superpowers/skills/brainstorming/spec-document-reviewer-prompt.md
  superpowers/skills/brainstorming/visual-companion.md
  superpowers/skills/executing-plans/SKILL.md
  superpowers/skills/subagent-driven-development/SKILL.md
  superpowers/skills/subagent-driven-development/code-quality-reviewer-prompt.md
  superpowers/skills/subagent-driven-development/implementer-prompt.md
  superpowers/skills/subagent-driven-development/spec-reviewer-prompt.md
  superpowers/skills/writing-plans/SKILL.md
  superpowers/skills/writing-plans/plan-document-reviewer-prompt.md
Due: lint-markdown, fmt-markdown

feat(superpowers): copy commands, agent, and hooks from upstream v5.0.2
  superpowers/agents/code-reviewer.md
  superpowers/commands/brainstorm.md
  superpowers/commands/execute-plan.md
  superpowers/commands/write-plan.md
  superpowers/hooks/hooks.json
  superpowers/hooks/session-start
Due: lint-markdown, fmt-markdown

feat(superpowers): add sync tool, release-please config, and CLAUDE.md
  .release-please-manifest.json
  CLAUDE.md
  release-please-config.json
  superpowers/scripts/sync-upstream
Due: lint-markdown, fmt-markdown

fix(superpowers): correct jj rebase -d to -o in finishing-a-development-branch
  superpowers/skills/finishing-a-development-branch/SKILL.md
Due: lint-markdown, fmt-markdown
