Repository fzymgc-house/fzymgc-house-skills: changes, and which lefthook commands are due for each by the changed paths.
All: lint-markdown, fmt-markdown, ruff-check, ruff-format

lefthook.yml:

# Lefthook configuration
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    lint-markdown:
      glob: "*.md"
      run: rumdl check {staged_files}

    fmt-markdown:
      glob: "*.md"
      run: rumdl fmt {staged_files}
      stage_fixed: true

    ruff-check:
      glob: "*.py"
      run: ruff check --fix {staged_files}
      stage_fixed: true

    ruff-format:
      glob: "*.py"
      run: ruff format {staged_files}
      stage_fixed: true

commit-msg:
  commands:
    conventional-commit:
      run: cog verify --file {1}

feat(dev-flow): ship VCS-aware worktree hooks + drain workspace isolation (#139)
  .beads/interactions.jsonl
  .claude/hooks/warn-default-workspace
  .claude/settings.json
  .github/workflows/ci.yaml
  dev-flow/commands/drain.md
  dev-flow/hooks/hooks.json
  dev-flow/hooks/tests/conftest.py
  dev-flow/hooks/tests/test_ensure_isolated_workspace.py
  dev-flow/hooks/tests/test_worktree_create.py
  dev-flow/hooks/tests/test_worktree_helpers.py
  dev-flow/hooks/tests/test_worktree_remove.py
  dev-flow/hooks/worktree-create
  dev-flow/hooks/worktree-remove
  dev-flow/hooks/worktree_helpers.py
  dev-flow/scripts/ensure-isolated-workspace
  dev-flow/skills/draining-beads/SKILL.md
  dev-flow/skills/using-worktrees/SKILL.md
Due: lint-markdown, fmt-markdown, ruff-check, ruff-format

chore(dev-flow): drop repo-local WorktreeCreate/WorktreeRemove now plugin ships them (fhsk-jbc.6)
  .claude/settings.json
Due: none

docs(dev-flow): require full cmux surface:<N> ref in drain-with-worker guidance (fhsk-jbc.7)
  dev-flow/references/drain-with-worker.md
Due: lint-markdown, fmt-markdown

chore(dev-flow): drop repo-local WorktreeCreate/WorktreeRemove (plugin now ships them) (#140)
  .claude/settings.json
Due: none

docs(dev-flow): require full cmux surface:<N> ref in drain-with-worker guidance (#141)
  dev-flow/references/drain-with-worker.md
Due: lint-markdown, fmt-markdown

fix(release): don't fail when no SemVer bump (chore/docs-only) (fhsk-jbc.9)
  .github/workflows/release.yaml
Due: none

ci(release): migrate from cog to release-please with in-file plugin versions (fhsk-dgo)
  .beads/interactions.jsonl
  .claude-plugin/marketplace.json
  .github/actions/install-cog/action.yml
  .github/workflows/commit-lint.yaml
  .github/workflows/release.yaml
  .release-please-manifest.json
  AGENTS.md
  README.md
  Taskfile.yaml
  cog.toml
  dev-flow/plugin.json
  docs/adr/README.md
  docs/adr/fhsk-7y4-adopt-single-repo-wide-version-replacing-per-package-streams.md
  docs/adr/fhsk-dgo-use-release-please-file-plugin-versions-reverse-cog-tag-only.md
  docs/adr/fhsk-toy-use-tag-only-cog-releases-no-commit-main.md
  homelab/plugin.json
  jj/plugin.json
  release-please-config.json
Due: lint-markdown, fmt-markdown

ci(release): migrate from cog to release-please with in-file plugin versions (#143)
  .beads/interactions.jsonl
  .claude-plugin/marketplace.json
  .github/actions/install-cog/action.yml
  .github/workflows/commit-lint.yaml
  .github/workflows/release.yaml
  .release-please-manifest.json
  AGENTS.md
  README.md
  Taskfile.yaml
  cog.toml
  dev-flow/plugin.json
  docs/adr/README.md
  docs/adr/fhsk-7y4-adopt-single-repo-wide-version-replacing-per-package-streams.md
  docs/adr/fhsk-dgo-use-release-please-file-plugin-versions-reverse-cog-tag-only.md
  docs/adr/fhsk-toy-use-tag-only-cog-releases-no-commit-main.md
  homelab/plugin.json
  jj/plugin.json
  release-please-config.json
Due: lint-markdown, fmt-markdown

fix(worktrees): set up .beads/redirect when creating jj workspaces (fhsk-0sq)
  .beads/interactions.jsonl
  dev-flow/hooks/tests/test_worktree_create.py
  dev-flow/hooks/tests/test_worktree_helpers.py
  dev-flow/hooks/worktree-create
  dev-flow/hooks/worktree_helpers.py
  dev-flow/skills/using-worktrees/SKILL.md
Due: lint-markdown, fmt-markdown, ruff-check, ruff-format

fix(worktrees): set up .beads/redirect when creating jj workspaces (fhsk-0sq) (#144)
  .beads/interactions.jsonl
  dev-flow/hooks/tests/test_worktree_create.py
  dev-flow/hooks/tests/test_worktree_helpers.py
  dev-flow/hooks/worktree-create
  dev-flow/hooks/worktree_helpers.py
  dev-flow/skills/using-worktrees/SKILL.md
Due: lint-markdown, fmt-markdown, ruff-check, ruff-format

feat(drain): auto-finish branch (push + PR) at clean sentinel without prompting
  dev-flow/references/drain-flow.md
  dev-flow/skills/draining-beads/SKILL.md
  dev-flow/skills/finishing-a-development-branch/SKILL.md
  docs/adr/README.md
  docs/adr/fhsk-8g6-drain-finishes-branch-autonomously-push-pr-at-clean-sentinel.md
  docs/superpowers/specs/2026-05-22-drain-skill-design.md
Due: lint-markdown, fmt-markdown

feat(drain): auto-finish branch (push + PR) at clean sentinel without prompting (#146)
  dev-flow/references/drain-flow.md
  dev-flow/skills/draining-beads/SKILL.md
  dev-flow/skills/finishing-a-development-branch/SKILL.md
  docs/adr/README.md
  docs/adr/fhsk-8g6-drain-finishes-branch-autonomously-push-pr-at-clean-sentinel.md
  docs/superpowers/specs/2026-05-22-drain-skill-design.md
Due: lint-markdown, fmt-markdown

docs(release): mark superseded cog-release-flow plan + spec, point to ADR fhsk-dgo
  docs/superpowers/plans/2026-05-29-cog-release-flow.md
  docs/superpowers/specs/2026-05-29-cog-release-flow-design.md
Due: lint-markdown, fmt-markdown

fix(drain): write .beads/redirect when ensure-isolated-workspace creates a jj workspace
  dev-flow/hooks/tests/test_ensure_isolated_workspace.py
  dev-flow/scripts/ensure-isolated-workspace
Due: ruff-check, ruff-format

fix(drain): write .beads/redirect when ensure-isolated-workspace creates a jj workspace (#149)
  dev-flow/hooks/tests/test_ensure_isolated_workspace.py
  dev-flow/scripts/ensure-isolated-workspace
Due: ruff-check, ruff-format

docs(release): mark superseded cog-release-flow plan + spec, point to ADR fhsk-dgo (#148)
  docs/superpowers/plans/2026-05-29-cog-release-flow.md
  docs/superpowers/specs/2026-05-29-cog-release-flow-design.md
Due: lint-markdown, fmt-markdown

docs(drain): design spec, plan, and ADRs for tmux-parameterized drain-with-worker (fhsk-3qy)
  docs/adr/README.md
  docs/adr/fhsk-5dj-convert-drain-worker-command-parameterized-skill.md
  docs/adr/fhsk-8yz-share-cmux-tmux-driver-logic-via-muxdriver-module-not-script.md
  docs/adr/fhsk-a6v-add-tmux-as-standalone-plugin-rather-than-folding-into-dev-f.md
  docs/superpowers/plans/2026-06-13-tmux-drain-worker.md
  docs/superpowers/specs/2026-06-13-tmux-drain-worker-design.md
Due: lint-markdown, fmt-markdown

docs(drain): design spec, plan, and ADRs for tmux-parameterized drain-with-worker (#150)
  docs/adr/README.md
  docs/adr/fhsk-5dj-convert-drain-worker-command-parameterized-skill.md
  docs/adr/fhsk-8yz-share-cmux-tmux-driver-logic-via-muxdriver-module-not-script.md
  docs/adr/fhsk-a6v-add-tmux-as-standalone-plugin-rather-than-folding-into-dev-f.md
  docs/superpowers/plans/2026-06-13-tmux-drain-worker.md
  docs/superpowers/specs/2026-06-13-tmux-drain-worker-design.md
Due: lint-markdown, fmt-markdown

feat(drain): add shared _muxdriver for cmux/tmux argv construction (fhsk-3qy.1)
  dev-flow/scripts/_muxdriver.py
  tests/test_muxdriver.py
Due: ruff-check, ruff-format

feat(drain): parameterize drain-watchdog with --multiplexer (fhsk-3qy.2)
  dev-flow/scripts/drain-watchdog
  tests/test_drain_skill.py
Due: ruff-check, ruff-format

feat(drain): add drain-worker-launch uv script (validate + launch) (fhsk-3qy.3)
  dev-flow/scripts/drain-worker-launch
  tests/test_drain_worker_launch.py
Due: ruff-check, ruff-format

feat(drain): convert drain-with-worker command to a parameterized skill (fhsk-3qy.4)
  dev-flow/commands/drain-with-worker.md
  dev-flow/references/drain-with-worker.md
  dev-flow/skills/drain-with-worker/SKILL.md
  tests/test_drain_skill.py
Due: lint-markdown, fmt-markdown, ruff-check, ruff-format

feat(drain): widen /drain Phase D launcher probe to cmux-or-tmux (fhsk-3qy.5)
  dev-flow/commands/drain.md
  tests/test_drain_skill.py
Due: lint-markdown, fmt-markdown, ruff-check, ruff-format

feat(tmux): add standalone tmux usage plugin + wiring (fhsk-3qy.6)
  .agents/plugins/marketplace.json
  .claude-plugin/marketplace.json
  Taskfile.yaml
  plugins/tmux/.codex-plugin/plugin.json
  plugins/tmux/skills
  release-please-config.json
  tests/test_drain_skill.py
  tmux/plugin.json
  tmux/skills/tmux/SKILL.md
Due: lint-markdown, fmt-markdown, ruff-check, ruff-format

docs(drain): document tmux launcher + four-plugin repo; fix codex marketplace test for tmux (fhsk-3qy.7)
  AGENTS.md
  dev-flow/AGENTS.md
  dev-flow/references/drain-flow.md
  dev-flow/skills/draining-beads/SKILL.md
  tests/test_codex_marketplace.py
Due: lint-markdown, fmt-markdown, ruff-check, ruff-format

fix(drain): detach tmux new-window (-d) + drop angle brackets from skill description
  dev-flow/scripts/_muxdriver.py
  dev-flow/skills/drain-with-worker/SKILL.md
  tests/test_muxdriver.py
Due: lint-markdown, fmt-markdown, ruff-check, ruff-format

feat(drain): tmux support for the /drain worker (parameterized skill + _muxdriver + tmux plugin) (#151)
  .agents/plugins/marketplace.json
  .claude-plugin/marketplace.json
  AGENTS.md
  Taskfile.yaml
  dev-flow/AGENTS.md
  dev-flow/commands/drain-with-worker.md
  dev-flow/commands/drain.md
  dev-flow/references/drain-flow.md
  dev-flow/references/drain-with-worker.md
  dev-flow/scripts/_muxdriver.py
  dev-flow/scripts/drain-watchdog
  dev-flow/scripts/drain-worker-launch
  dev-flow/skills/drain-with-worker/SKILL.md
  dev-flow/skills/draining-beads/SKILL.md
  plugins/tmux/.codex-plugin/plugin.json
  plugins/tmux/skills
  release-please-config.json
  tests/test_codex_marketplace.py
  tests/test_drain_skill.py
  tests/test_drain_worker_launch.py
  tests/test_muxdriver.py
  tmux/plugin.json
  tmux/skills/tmux/SKILL.md
Due: lint-markdown, fmt-markdown, ruff-check, ruff-format

fix(drain): extract surface:<N> token in CmuxDriver.parse_ref (fhsk-1ix)
  dev-flow/scripts/_muxdriver.py
  tests/test_muxdriver.py
Due: ruff-check, ruff-format

fix(drain): extract surface:<N> token in CmuxDriver.parse_ref (cmux 0.64.15) (#155)
  dev-flow/scripts/_muxdriver.py
  tests/test_muxdriver.py
Due: ruff-check, ruff-format

fix(drain): escape literal % in drain-watchdog argparse help (Python 3.14)
  dev-flow/scripts/drain-watchdog
Due: none

fix(drain): escape literal % in drain-watchdog argparse help (Python 3.14) (#159)
  dev-flow/scripts/drain-watchdog
Due: none

fix(drain): make drain-worker-launch direnv gate idempotent (#158)
  dev-flow/scripts/drain-worker-launch
  tests/test_drain_worker_launch.py
Due: ruff-check, ruff-format

fix(drain): make drain-worker-launch direnv gate idempotent (#158) (#161)
  dev-flow/scripts/drain-worker-launch
  tests/test_drain_worker_launch.py
Due: ruff-check, ruff-format

fix(drain): make drain-worker-launch direnv probe shell-agnostic (fish)
  dev-flow/scripts/drain-worker-launch
  tests/test_drain_worker_launch.py
Due: ruff-check, ruff-format

fix(drain): make drain-worker-launch direnv probe shell-agnostic (fish) (#163)
  dev-flow/scripts/drain-worker-launch
  tests/test_drain_worker_launch.py
Due: ruff-check, ruff-format

chore: remove dupe mcp context7
  .beads/interactions.jsonl
  .mcp.json
Due: none

chore: remove dupe mcp context7 (#165)
  .beads/interactions.jsonl
  .mcp.json
Due: none

docs(miniflux): design spec, implementation plan, and ADRs for RSS skill
  docs/adr/README.md
  docs/adr/fhsk-0qz-split-curation-into-deterministic-rules-miniflux-and-reasoni.md
  docs/adr/fhsk-pqw-wrap-miniflux-client-directly-not-via-mcp-gateway.md
  docs/adr/fhsk-qs9-use-env-then-file-config-resolution-miniflux-credentials.md
  docs/superpowers/plans/2026-06-13-miniflux-skill.md
  docs/superpowers/specs/2026-06-13-miniflux-skill-design.md
Due: lint-markdown, fmt-markdown

fix(capture-adrs): prevent literal \n in ADR bodies (fhsk-h7l)
  dev-flow/scripts/render-adr
  dev-flow/skills/capture-adrs/SKILL.md
  docs/adr/fhsk-7y4-adopt-single-repo-wide-version-replacing-per-package-streams.md
  docs/adr/fhsk-h3z-validate-conventional-commits-at-pr-title-boundary-ci.md
  docs/adr/fhsk-toy-use-tag-only-cog-releases-no-commit-main.md
  tests/test_adr_docs.py
Due: lint-markdown, fmt-markdown, ruff-check, ruff-format

docs(miniflux): design spec, plan, and ADRs for RSS curation skill (#167)
  docs/adr/README.md
  docs/adr/fhsk-0qz-split-curation-into-deterministic-rules-miniflux-and-reasoni.md
  docs/adr/fhsk-pqw-wrap-miniflux-client-directly-not-via-mcp-gateway.md
  docs/adr/fhsk-qs9-use-env-then-file-config-resolution-miniflux-credentials.md
  docs/superpowers/plans/2026-06-13-miniflux-skill.md
  docs/superpowers/specs/2026-06-13-miniflux-skill-design.md
Due: lint-markdown, fmt-markdown
