Repository fzymgc-house/fzymgc-house-skills: changes, and which lefthook commands are due for each by the changed paths.
All: lint-markdown, fmt-markdown, ruff-check, ruff-format

lint-markdown:
  run: rumdl check {staged_files}

fmt-markdown:
  run: rumdl fmt {staged_files}
  stage_fixed: true

ruff-check:
  run: ruff check --fix {staged_files}
  stage_fixed: true

ruff-format:
  run: ruff format {staged_files}
  stage_fixed: true

fix(jj): scope rebase-chain guard to a single command segment (#120)
  jj/hooks/guard-jj-rebase-chain
  jj/hooks/tests/test_guard_jj_rebase_chain.py
Due: ruff-check, ruff-format

feat(dev-flow): route design-phase beads out of solving-a-bead
  dev-flow/skills/solving-a-bead/SKILL.md
  dev-flow/skills/solving-a-bead/scripts/validate-bead
  tests/test_solving_a_bead.py
Due: lint-markdown, fmt-markdown, ruff-check, ruff-format

feat(dev-flow): route design-phase beads out of solving-a-bead (#121)
  dev-flow/skills/solving-a-bead/SKILL.md
  dev-flow/skills/solving-a-bead/scripts/validate-bead
  tests/test_solving_a_bead.py
Due: lint-markdown, fmt-markdown, ruff-check, ruff-format

ci: replace lefthook with Taskfile gates, run tests on push
  .github/workflows/check-skills.yml
  .github/workflows/ci.yaml
  AGENTS.md
  README.md
  Taskfile.yaml
  dev-flow/scripts/adr-doctor.sh
  jj/hooks/tests/test_guard_jj_rebase_chain.py
  lefthook.yml
Due: lint-markdown, fmt-markdown, ruff-check, ruff-format

ci: replace lefthook with Taskfile gates, run tests on push (#122)
  .github/workflows/check-skills.yml
  .github/workflows/ci.yaml
  AGENTS.md
  README.md
  Taskfile.yaml
  dev-flow/scripts/adr-doctor.sh
  jj/hooks/tests/test_guard_jj_rebase_chain.py
  lefthook.yml
Due: lint-markdown, fmt-markdown, ruff-check, ruff-format

feat(dev-flow): add grepping skill + nudge-rg-over-grep hook
  Taskfile.yaml
  dev-flow/hooks/hooks.json
  dev-flow/hooks/nudge-rg-over-grep
  dev-flow/hooks/tests/test_nudge_rg_over_grep.py
  dev-flow/references/upstream-manifest.md
  dev-flow/skills/grepping/SKILL.md
  dev-flow/skills/grepping/references/ast-grep.md
  dev-flow/skills/grepping/references/grep.md
  dev-flow/skills/grepping/references/ripgrep.md
  dev-flow/skills/grepping/references/ugrep.md
Due: lint-markdown, fmt-markdown, ruff-check, ruff-format

feat(dev-flow): add grepping skill + nudge-rg-over-grep hook (#123)
  Taskfile.yaml
  dev-flow/hooks/hooks.json
  dev-flow/hooks/nudge-rg-over-grep
  dev-flow/hooks/tests/test_nudge_rg_over_grep.py
  dev-flow/references/upstream-manifest.md
  dev-flow/skills/grepping/SKILL.md
  dev-flow/skills/grepping/references/ast-grep.md
  dev-flow/skills/grepping/references/grep.md
  dev-flow/skills/grepping/references/ripgrep.md
  dev-flow/skills/grepping/references/ugrep.md
Due: lint-markdown, fmt-markdown, ruff-check, ruff-format

fix(dev-flow): remove redundant command wrappers that shadowed their skills (fhsk-hcb)
  dev-flow/commands/capture-adrs.md
  dev-flow/commands/solving-a-bead.md
  dev-flow/skills/capture-adrs/SKILL.md
  dev-flow/skills/solving-a-bead/SKILL.md
  docs/superpowers/specs/2026-05-29-solving-a-bead-design.md
  tests/test_command_skill_collision.py
Due: lint-markdown, fmt-markdown, ruff-check, ruff-format

fix(dev-flow): remove redundant solving-a-bead/capture-adrs command wrappers that shadowed their skills (#124)
  dev-flow/commands/capture-adrs.md
  dev-flow/commands/solving-a-bead.md
  dev-flow/skills/capture-adrs/SKILL.md
  dev-flow/skills/solving-a-bead/SKILL.md
  docs/superpowers/specs/2026-05-29-solving-a-bead-design.md
  tests/test_command_skill_collision.py
Due: lint-markdown, fmt-markdown, ruff-check, ruff-format

fix(dev-flow): invoke bundled skill scripts via ${CLAUDE_PLUGIN_ROOT} so they resolve from any cwd (fhsk-7wj)
  dev-flow/skills/capture-adrs/SKILL.md
  dev-flow/skills/solving-a-bead/SKILL.md
  tests/test_solving_a_bead.py
Due: lint-markdown, fmt-markdown, ruff-check, ruff-format

fix(dev-flow): invoke bundled skill scripts via ${CLAUDE_PLUGIN_ROOT} so they resolve from any cwd (#125)
  dev-flow/skills/capture-adrs/SKILL.md
  dev-flow/skills/solving-a-bead/SKILL.md
  tests/test_solving_a_bead.py
Due: lint-markdown, fmt-markdown, ruff-check, ruff-format

fix(dev-flow): base new worktrees on current origin trunk + add currency guidance (fhsk-7jm)
  .beads/interactions.jsonl
  .claude/hooks/tests/test_worktree_create.py
  .claude/hooks/tests/test_worktree_helpers.py
  .claude/hooks/worktree-create
  .claude/hooks/worktree_helpers.py
  dev-flow/references/vcs-preamble.md
  dev-flow/skills/brainstorming/SKILL.md
  dev-flow/skills/solving-a-bead/SKILL.md
  dev-flow/skills/systematic-debugging/SKILL.md
  dev-flow/skills/using-worktrees/SKILL.md
Due: lint-markdown, fmt-markdown, ruff-check, ruff-format

fix(dev-flow): base new worktrees on current origin trunk + add currency guidance (#126)
  .beads/interactions.jsonl
  .claude/hooks/tests/test_worktree_create.py
  .claude/hooks/tests/test_worktree_helpers.py
  .claude/hooks/worktree-create
  .claude/hooks/worktree_helpers.py
  dev-flow/references/vcs-preamble.md
  dev-flow/skills/brainstorming/SKILL.md
  dev-flow/skills/solving-a-bead/SKILL.md
  dev-flow/skills/systematic-debugging/SKILL.md
  dev-flow/skills/using-worktrees/SKILL.md
Due: lint-markdown, fmt-markdown, ruff-check, ruff-format

docs(dev-flow): mermaid skill spec + plan + ADR (fhsk-80b)
  .beads/interactions.jsonl
  docs/adr/README.md
  docs/adr/fhsk-4bi-adopt-probelabs-maid-as-primary-mermaid-lint-engine.md
  docs/superpowers/plans/2026-05-30-mermaid-skill.md
  docs/superpowers/specs/2026-05-30-mermaid-skill-design.md
Due: lint-markdown, fmt-markdown

docs(dev-flow): mermaid skill spec, plan, and ADR (fhsk-80b) (#127)
  .beads/interactions.jsonl
  docs/adr/README.md
  docs/adr/fhsk-4bi-adopt-probelabs-maid-as-primary-mermaid-lint-engine.md
  docs/superpowers/plans/2026-05-30-mermaid-skill.md
  docs/superpowers/specs/2026-05-30-mermaid-skill-design.md
Due: lint-markdown, fmt-markdown

docs(memory-curator): spec, plan, and ADR for memory layer plugin (fhsk-ga7)
  .beads/interactions.jsonl
  docs/adr/README.md
  docs/adr/fhsk-e0u-use-two-tier-spine-overlay-memory-scope-model.md
  docs/superpowers/plans/2026-06-01-memory-curator-plugin.md
  docs/superpowers/specs/2026-06-01-memory-curator-plugin-design.md
Due: lint-markdown, fmt-markdown

docs(memory-curator): spec, plan, and ADR for memory layer plugin (fhsk-ga7) (#132)
  .beads/interactions.jsonl
  docs/adr/README.md
  docs/adr/fhsk-e0u-use-two-tier-spine-overlay-memory-scope-model.md
  docs/superpowers/plans/2026-06-01-memory-curator-plugin.md
  docs/superpowers/specs/2026-06-01-memory-curator-plugin-design.md
Due: lint-markdown, fmt-markdown

feat(memory-curator): session-end-memory-capture hook (fhsk-ga7.4)
  .beads/interactions.jsonl
  memory-curator/hooks/session-end-memory-capture
  memory-curator/hooks/tests/test_session_end_memory_capture.py
Due: ruff-check, ruff-format

feat(memory-curator): workspace overlay + derive_scopes (fhsk-ga7.2)
  .beads/interactions.jsonl
  memory-curator/hooks/lib/scope.py
  memory-curator/hooks/tests/test_scope.py
Due: ruff-check, ruff-format

docs(memory-curator): README — setup + scope convention (fhsk-ga7.8)
  .beads/interactions.jsonl
  memory-curator/README.md
Due: lint-markdown, fmt-markdown

feat(memory-curator): scope spine derivation (fhsk-ga7.1)
  .beads/interactions.jsonl
  memory-curator/hooks/lib/__init__.py
  memory-curator/hooks/lib/scope.py
  memory-curator/hooks/tests/__init__.py
  memory-curator/hooks/tests/test_scope.py
Due: ruff-check, ruff-format

docs(memory-curator): promoting-memory skill (fhsk-ga7.7)
  .beads/interactions.jsonl
  memory-curator/skills/promoting-memory/SKILL.md
Due: lint-markdown, fmt-markdown

feat(memory-curator): session-start-memory-recall hook (fhsk-ga7.3)
  .beads/interactions.jsonl
  memory-curator/hooks/session-start-memory-recall
  memory-curator/hooks/tests/test_session_start_memory_recall.py
Due: ruff-check, ruff-format

test(memory-curator): malformed-stdin coverage for capture hook (fhsk-ga7.12)
  .beads/interactions.jsonl
  memory-curator/hooks/tests/test_session_end_memory_capture.py
Due: ruff-check, ruff-format

feat(memory-curator): plugin wiring — hooks.json, plugin.json, .mcp.json (fhsk-ga7.5)
  .beads/interactions.jsonl
  memory-curator/.mcp.json
  memory-curator/hooks/hooks.json
  memory-curator/hooks/tests/test_plugin_config.py
  memory-curator/plugin.json
Due: ruff-check, ruff-format

chore(beads): drain audit trail for memory-curator epic (fhsk-9q9)
  .beads/interactions.jsonl
Due: none

feat(memory-curator): Codex wrapper — symlinks + manifest (fhsk-ga7.9)
  .beads/interactions.jsonl
  plugins/memory-curator/.codex-plugin/plugin.json
  plugins/memory-curator/.mcp.json
  plugins/memory-curator/hooks
  plugins/memory-curator/skills
Due: none

docs(memory-curator): curating-memory skill (fhsk-ga7.6)
  .beads/interactions.jsonl
  memory-curator/skills/curating-memory/SKILL.md
Due: lint-markdown, fmt-markdown

feat(memory-curator): register in marketplaces + wire Taskfile gates (fhsk-ga7.10)
  .agents/plugins/marketplace.json
  .beads/interactions.jsonl
  .claude-plugin/marketplace.json
  Taskfile.yaml
  tests/test_codex_marketplace.py
  tests/test_memory_curator_plugin.py
Due: ruff-check, ruff-format

fix(memory-curator): address PR #133 review findings (fhsk-z8z)
  memory-curator/hooks/lib/scope.py
  memory-curator/hooks/session-end-memory-capture
  memory-curator/hooks/session-start-memory-recall
  memory-curator/hooks/tests/test_scope.py
  memory-curator/hooks/tests/test_session_end_memory_capture.py
  memory-curator/hooks/tests/test_session_start_memory_recall.py
Due: ruff-check, ruff-format

feat(memory-curator): self-hosted memory MCP layer plugin (fhsk-ga7) (#133)
  .agents/plugins/marketplace.json
  .beads/interactions.jsonl
  .claude-plugin/marketplace.json
  Taskfile.yaml
  memory-curator/.mcp.json
  memory-curator/README.md
  memory-curator/hooks/hooks.json
  memory-curator/hooks/lib/__init__.py
  memory-curator/hooks/lib/scope.py
  memory-curator/hooks/session-end-memory-capture
  memory-curator/hooks/session-start-memory-recall
  memory-curator/hooks/tests/__init__.py
  memory-curator/hooks/tests/test_plugin_config.py
  memory-curator/hooks/tests/test_scope.py
  memory-curator/hooks/tests/test_session_end_memory_capture.py
  memory-curator/hooks/tests/test_session_start_memory_recall.py
  memory-curator/plugin.json
  memory-curator/skills/curating-memory/SKILL.md
  memory-curator/skills/promoting-memory/SKILL.md
  plugins/memory-curator/.codex-plugin/plugin.json
  plugins/memory-curator/.mcp.json
  plugins/memory-curator/hooks
  plugins/memory-curator/skills
  tests/test_codex_marketplace.py
  tests/test_memory_curator_plugin.py
Due: lint-markdown, fmt-markdown, ruff-check, ruff-format

docs(memory-curator): consistent qualified tool names in promoting-memory skill (fhsk-yv8)
  memory-curator/skills/promoting-memory/SKILL.md
Due: lint-markdown, fmt-markdown

docs(memory-curator): consistent qualified tool names in promoting-memory skill (fhsk-yv8) (#134)
  memory-curator/skills/promoting-memory/SKILL.md
Due: lint-markdown, fmt-markdown

fix(memory-curator): replace error-styled Stop-hook nudge with silent capture hooks (fhsk-ede)
  .beads/interactions.jsonl
  docs/adr/fhsk-p07-replace-blocking-stop-hook-capture-nudge-silent-sessionstart.md
  docs/superpowers/specs/2026-06-01-memory-curator-plugin-design.md
  memory-curator/README.md
  memory-curator/hooks/hooks.json
  memory-curator/hooks/posttooluse-memory-capture-nudge
  memory-curator/hooks/session-end-memory-capture
  memory-curator/hooks/session-start-memory-recall
  memory-curator/hooks/tests/test_plugin_config.py
  memory-curator/hooks/tests/test_posttooluse_memory_capture_nudge.py
  memory-curator/hooks/tests/test_session_end_memory_capture.py
  memory-curator/hooks/tests/test_session_start_memory_recall.py
  memory-curator/skills/curating-memory/SKILL.md
Due: lint-markdown, fmt-markdown, ruff-check, ruff-format

fix(memory-curator): replace error-styled Stop-hook nudge with silent capture hooks (#135)
  .beads/interactions.jsonl
  docs/adr/fhsk-p07-replace-blocking-stop-hook-capture-nudge-silent-sessionstart.md
  docs/superpowers/specs/2026-06-01-memory-curator-plugin-design.md
  memory-curator/README.md
  memory-curator/hooks/hooks.json
  memory-curator/hooks/posttooluse-memory-capture-nudge
  memory-curator/hooks/session-end-memory-capture
  memory-curator/hooks/session-start-memory-recall
  memory-curator/hooks/tests/test_plugin_config.py
  memory-curator/hooks/tests/test_posttooluse_memory_capture_nudge.py
  memory-curator/hooks/tests/test_session_end_memory_capture.py
  memory-curator/hooks/tests/test_session_start_memory_recall.py
  memory-curator/skills/curating-memory/SKILL.md
Due: lint-markdown, fmt-markdown, ruff-check, ruff-format

chore: remove memory-curator (relocated to seanb4t/engram)
  .agents/plugins/marketplace.json
  .claude-plugin/marketplace.json
  README.md
  Taskfile.yaml
  memory-curator/.mcp.json
  memory-curator/README.md
  memory-curator/hooks/hooks.json
  memory-curator/hooks/lib/__init__.py
  memory-curator/hooks/lib/scope.py
  memory-curator/hooks/posttooluse-memory-capture-nudge
  memory-curator/hooks/session-start-memory-recall
  memory-curator/hooks/tests/__init__.py
  memory-curator/hooks/tests/test_plugin_config.py
  memory-curator/hooks/tests/test_posttooluse_memory_capture_nudge.py
  memory-curator/hooks/tests/test_scope.py
  memory-curator/hooks/tests/test_session_start_memory_recall.py
  memory-curator/plugin.json
  memory-curator/skills/curating-memory/SKILL.md
  memory-curator/skills/promoting-memory/SKILL.md
  plugins/memory-curator/.codex-plugin/plugin.json
  plugins/memory-curator/.mcp.json
  plugins/memory-curator/hooks
  plugins/memory-curator/skills
  tests/test_codex_marketplace.py
  tests/test_memory_curator_plugin.py
Due: lint-markdown, fmt-markdown, ruff-check, ruff-format

chore: remove memory-curator (relocated to seanb4t/engram) (#137)
  .agents/plugins/marketplace.json
  .claude-plugin/marketplace.json
  README.md
  Taskfile.yaml
  memory-curator/.mcp.json
  memory-curator/README.md
  memory-curator/hooks/hooks.json
  memory-curator/hooks/lib/__init__.py
  memory-curator/hooks/lib/scope.py
  memory-curator/hooks/posttooluse-memory-capture-nudge
  memory-curator/hooks/session-start-memory-recall
  memory-curator/hooks/tests/__init__.py
  memory-curator/hooks/tests/test_plugin_config.py
  memory-curator/hooks/tests/test_posttooluse_memory_capture_nudge.py
  memory-curator/hooks/tests/test_scope.py
  memory-curator/hooks/tests/test_session_start_memory_recall.py
  memory-curator/plugin.json
  memory-curator/skills/curating-memory/SKILL.md
  memory-curator/skills/promoting-memory/SKILL.md
  plugins/memory-curator/.codex-plugin/plugin.json
  plugins/memory-curator/.mcp.json
  plugins/memory-curator/hooks
  plugins/memory-curator/skills
  tests/test_codex_marketplace.py
  tests/test_memory_curator_plugin.py
Due: lint-markdown, fmt-markdown, ruff-check, ruff-format

feat(grepping): add PostToolUse hook to catch rg failures
  dev-flow/hooks/hooks.json
  dev-flow/hooks/nudge-rg-failure
  dev-flow/skills/grepping/SKILL.md
Due: lint-markdown, fmt-markdown

feat(grepping): add PostToolUse hook to catch rg failures (#138)
  dev-flow/hooks/hooks.json
  dev-flow/hooks/nudge-rg-failure
  dev-flow/skills/grepping/SKILL.md
Due: lint-markdown, fmt-markdown

feat(dev-flow): ship VCS-aware worktree hooks + drain workspace isolation (fhsk-jbc)
  .beads/interactions.jsonl
  .claude/hooks/warn-default-workspace
  .claude/settings.json
  .github/workflows/ci.yaml
  dev-flow/commands/drain.md
  dev-flow/hooks/hooks.json
  dev-flow/hooks/tests/conftest.py
  dev-flow/hooks/tests/test_ensure_isolated_workspace.py
  dev-flow/hooks/tests/test_worktree_create.py
  dev-flow/hooks/tests/test_worktree_helpers.py
  dev-flow/hooks/tests/test_worktree_remove.py
  dev-flow/hooks/worktree-create
  dev-flow/hooks/worktree-remove
  dev-flow/hooks/worktree_helpers.py
  dev-flow/scripts/ensure-isolated-workspace
  dev-flow/skills/draining-beads/SKILL.md
  dev-flow/skills/using-worktrees/SKILL.md
Due: lint-markdown, fmt-markdown, ruff-check, ruff-format

Path conditions:
  lint-markdown: any of: *.md
  fmt-markdown: any of: *.md
  ruff-check: any of: *.py
  ruff-format: any of: *.py
