Repository fzymgc-house/fzymgc-house-skills: changes, and which lefthook commands are due for each by the changed paths.
All: lint-markdown, fmt-markdown, ruff-check, ruff-format

lint-markdown:
  run: rumdl check {staged_files}

fmt-markdown:
  run: rumdl fmt {staged_files}
  stage_fixed: true

ruff-check:
  run: ruff check --fix {staged_files}
  stage_fixed: true

ruff-format:
  run: ruff format {staged_files}
  stage_fixed: true

feat(dev-flow): wire review pipeline seams (#102)
  .beads/interactions.jsonl
  dev-flow/agents/api-contract-checker.md
  dev-flow/agents/code-reviewer.md
  dev-flow/agents/code-simplifier.md
  dev-flow/agents/comment-analyzer.md
  dev-flow/agents/fix-worker.md
  dev-flow/agents/pr-test-analyzer.md
  dev-flow/agents/security-auditor.md
  dev-flow/agents/silent-failure-hunter.md
  dev-flow/agents/slop-hunter.md
  dev-flow/agents/spec-compliance.md
  dev-flow/agents/type-design-analyzer.md
  dev-flow/agents/verification-runner.md
  dev-flow/evals/evals.json
  dev-flow/references/vcs-detection-preamble.md
  dev-flow/references/vcs-equivalence.md
  dev-flow/references/vcs-preamble.md
  dev-flow/skills/address-findings/SKILL.md
  dev-flow/skills/finishing-a-development-branch/SKILL.md
  dev-flow/skills/requesting-code-review/code-reviewer.md
  dev-flow/skills/respond-to-comments/SKILL.md
  dev-flow/skills/review-pr/SKILL.md
  dev-flow/skills/subagent-driven-development/SKILL.md
  docs/dev-flow-pipeline.md
  docs/superpowers/plans/2026-05-28-wire-review-pipeline-seams.md
  docs/superpowers/specs/2026-05-28-wire-review-pipeline-seams-design.md
  tests/test_agent_guidance_docs.py
Due: lint-markdown, fmt-markdown, ruff-check, ruff-format

fix(dev-flow): route subagents via agent:* label, not --skills, in SDD (fhsk-07o.1)
  .beads/interactions.jsonl
  dev-flow/skills/subagent-driven-development/SKILL.md
  docs/adr/README.md
  docs/adr/fhsk-bj8-use-agent-label-as-sole-subagent-dispatch-signal.md
  docs/superpowers/plans/2026-05-28-skills-routing-and-adr-capture-fixes.md
  docs/superpowers/specs/2026-05-28-skills-routing-and-adr-capture-fixes-design.md
Due: lint-markdown, fmt-markdown

fix(dev-flow): route via agent:* label in draining-beads + handoff-prompt (fhsk-07o.2)
  .beads/interactions.jsonl
  dev-flow/skills/draining-beads/SKILL.md
  dev-flow/skills/handoff-prompt/SKILL.md
Due: lint-markdown, fmt-markdown

fix(dev-flow): reframe --skills as hint + add agent:* routing in setters + AGENTS.md (fhsk-07o.3)
  .beads/interactions.jsonl
  dev-flow/AGENTS.md
  dev-flow/skills/bead-create-smart/SKILL.md
  dev-flow/skills/plan-to-beads/SKILL.md
Due: lint-markdown, fmt-markdown

fix(dev-flow): tighten adr-extractor worthiness to architectural-only (fhsk-07o.4)
  .beads/interactions.jsonl
  dev-flow/agents/adr-extractor.md
  docs/superpowers/specs/2026-05-14-dev-flow-beads-integration-design.md
Due: lint-markdown, fmt-markdown

fix(dev-flow): retime nudge-adr-capture to plans only (fhsk-07o.5)
  .beads/interactions.jsonl
  dev-flow/hooks/nudge-adr-capture
  dev-flow/hooks/tests/test_nudge_adr_capture.py
  dev-flow/hooks/tests/test_nudge_adr_capture.sh
Due: ruff-check, ruff-format

fix(dev-flow): correct --skills routing + tighten/retime capture-adrs (#103)
  .beads/interactions.jsonl
  dev-flow/AGENTS.md
  dev-flow/agents/adr-extractor.md
  dev-flow/hooks/nudge-adr-capture
  dev-flow/hooks/tests/test_nudge_adr_capture.py
  dev-flow/hooks/tests/test_nudge_adr_capture.sh
  dev-flow/skills/bead-create-smart/SKILL.md
  dev-flow/skills/draining-beads/SKILL.md
  dev-flow/skills/handoff-prompt/SKILL.md
  dev-flow/skills/plan-to-beads/SKILL.md
  dev-flow/skills/subagent-driven-development/SKILL.md
  docs/adr/README.md
  docs/adr/fhsk-bj8-use-agent-label-as-sole-subagent-dispatch-signal.md
  docs/superpowers/plans/2026-05-28-skills-routing-and-adr-capture-fixes.md
  docs/superpowers/specs/2026-05-14-dev-flow-beads-integration-design.md
  docs/superpowers/specs/2026-05-28-skills-routing-and-adr-capture-fixes-design.md
Due: lint-markdown, fmt-markdown, ruff-check, ruff-format

refactor(dev-flow): unify review-agent stance + severity rubric
  dev-flow/agents/api-contract-checker.md
  dev-flow/agents/code-reviewer.md
  dev-flow/agents/code-simplifier.md
  dev-flow/agents/comment-analyzer.md
  dev-flow/agents/pr-test-analyzer.md
  dev-flow/agents/security-auditor.md
  dev-flow/agents/silent-failure-hunter.md
  dev-flow/agents/slop-hunter.md
  dev-flow/agents/spec-compliance.md
  dev-flow/agents/type-design-analyzer.md
  dev-flow/references/code-slop.md
  dev-flow/references/review-stance.md
Due: lint-markdown, fmt-markdown

refactor(dev-flow): unify review-agent stance + severity rubric (#104)
  dev-flow/agents/api-contract-checker.md
  dev-flow/agents/code-reviewer.md
  dev-flow/agents/code-simplifier.md
  dev-flow/agents/comment-analyzer.md
  dev-flow/agents/pr-test-analyzer.md
  dev-flow/agents/security-auditor.md
  dev-flow/agents/silent-failure-hunter.md
  dev-flow/agents/slop-hunter.md
  dev-flow/agents/spec-compliance.md
  dev-flow/agents/type-design-analyzer.md
  dev-flow/references/code-slop.md
  dev-flow/references/review-stance.md
Due: lint-markdown, fmt-markdown

fix(jj): register plugin hooks via hooks.json and force git-style diffs
  jj/hooks/hooks.json
  jj/hooks/session-start-jj-detect
  jj/plugin.json
  jj/skills/jujutsu/SKILL.md
  jj/skills/jujutsu/references/jj-agent-config.md
  jj/skills/jujutsu/references/jj-reference.md
  jj/skills/jujutsu/references/workflows-reference.md
Due: lint-markdown, fmt-markdown

fix(jj): register plugin hooks via hooks.json and force git-style diffs (#105)
  jj/hooks/hooks.json
  jj/hooks/session-start-jj-detect
  jj/plugin.json
  jj/skills/jujutsu/SKILL.md
  jj/skills/jujutsu/references/jj-agent-config.md
  jj/skills/jujutsu/references/jj-reference.md
  jj/skills/jujutsu/references/workflows-reference.md
Due: lint-markdown, fmt-markdown

feat(dev-flow): require /review-pr PASS gate after PR open
  dev-flow/skills/finishing-a-development-branch/SKILL.md
  dev-flow/skills/requesting-code-review/SKILL.md
  dev-flow/skills/requesting-code-review/code-reviewer.md
  dev-flow/skills/review-pr/SKILL.md
Due: lint-markdown, fmt-markdown

feat(dev-flow): require /review-pr PASS gate after PR open (#107)
  dev-flow/skills/finishing-a-development-branch/SKILL.md
  dev-flow/skills/requesting-code-review/SKILL.md
  dev-flow/skills/requesting-code-review/code-reviewer.md
  dev-flow/skills/review-pr/SKILL.md
Due: lint-markdown, fmt-markdown

fix(dev-flow): exclude deferred findings from review-pr PASS gate
  dev-flow/skills/finishing-a-development-branch/SKILL.md
  dev-flow/skills/review-pr/SKILL.md
Due: lint-markdown, fmt-markdown

fix(dev-flow): exclude deferred findings from review-pr PASS gate (#109)
  dev-flow/skills/finishing-a-development-branch/SKILL.md
  dev-flow/skills/review-pr/SKILL.md
Due: lint-markdown, fmt-markdown

fix(dev-flow): close the review epic on PASS/merge; defer re-homes findings out of epic
  dev-flow/skills/address-findings/SKILL.md
  dev-flow/skills/finishing-a-development-branch/SKILL.md
  dev-flow/skills/review-pr/SKILL.md
Due: lint-markdown, fmt-markdown

docs(release): cog tag-only release flow design (fhsk-9g0)
  docs/superpowers/specs/2026-05-29-cog-release-flow-design.md
Due: lint-markdown, fmt-markdown

fix(dev-flow): close review epic on PASS/merge; Defer re-homes findings out of epic (#111)
  dev-flow/skills/address-findings/SKILL.md
  dev-flow/skills/finishing-a-development-branch/SKILL.md
  dev-flow/skills/review-pr/SKILL.md
Due: lint-markdown, fmt-markdown

docs(release): cog tag-only release flow implementation plan (fhsk-9g0)
  docs/superpowers/plans/2026-05-29-cog-release-flow.md
Due: lint-markdown, fmt-markdown

docs(adr): capture cog-release-flow decisions (fhsk-7y4, fhsk-toy, fhsk-h3z)
  .beads/interactions.jsonl
  docs/adr/README.md
  docs/adr/fhsk-7y4-adopt-single-repo-wide-version-replacing-per-package-streams.md
  docs/adr/fhsk-h3z-validate-conventional-commits-at-pr-title-boundary-ci.md
  docs/adr/fhsk-toy-use-tag-only-cog-releases-no-commit-main.md
  docs/superpowers/plans/2026-05-29-cog-release-flow.md
  docs/superpowers/specs/2026-05-29-cog-release-flow-design.md
Due: lint-markdown, fmt-markdown

docs(release): design + plan for cog tag-only release flow (fhsk-9g0) (#113)
  .beads/interactions.jsonl
  docs/adr/README.md
  docs/adr/fhsk-7y4-adopt-single-repo-wide-version-replacing-per-package-streams.md
  docs/adr/fhsk-h3z-validate-conventional-commits-at-pr-title-boundary-ci.md
  docs/adr/fhsk-toy-use-tag-only-cog-releases-no-commit-main.md
  docs/superpowers/plans/2026-05-29-cog-release-flow.md
  docs/superpowers/specs/2026-05-29-cog-release-flow-design.md
Due: lint-markdown, fmt-markdown

feat(dev-flow): surface-aware drain watchdog as a uv script
  dev-flow/commands/drain-with-worker.md
  dev-flow/references/drain-with-worker.md
  dev-flow/scripts/drain-watchdog
  dev-flow/skills/draining-beads/SKILL.md
  docs/superpowers/specs/2026-05-25-drain-with-worker-design.md
  tests/test_drain_skill.py
Due: lint-markdown, fmt-markdown, ruff-check, ruff-format

feat(hooks): warn when working in shared default jj workspace
  .claude/hooks/tests/test_warn_default_workspace.py
  .claude/hooks/warn-default-workspace
  .claude/settings.json
Due: ruff-check, ruff-format

feat(dev-flow): surface-aware drain watchdog as a uv script (#114)
  dev-flow/commands/drain-with-worker.md
  dev-flow/references/drain-with-worker.md
  dev-flow/scripts/drain-watchdog
  dev-flow/skills/draining-beads/SKILL.md
  docs/superpowers/specs/2026-05-25-drain-with-worker-design.md
  tests/test_drain_skill.py
Due: lint-markdown, fmt-markdown, ruff-check, ruff-format

feat(hooks): warn when working in shared default jj workspace (#116)
  .claude/hooks/tests/test_warn_default_workspace.py
  .claude/hooks/warn-default-workspace
  .claude/settings.json
Due: ruff-check, ruff-format

ci(release): add sha256-pinned install-cog composite action
  .github/actions/install-cog/action.yml
Due: none

feat(release): make cog.toml the tag-only release engine
  cog.toml
Due: none

ci(release): add manual-dispatch tag-only release workflow
  .github/workflows/release.yaml
Due: none

refactor(release): remove in-file version fields (SHA + tag are authoritative)
  .claude-plugin/marketplace.json
  dev-flow/plugin.json
  dev-flow/skills/bead-create-smart/SKILL.md
  dev-flow/skills/finishing-a-development-branch/SKILL.md
  dev-flow/skills/handoff-prompt/SKILL.md
  dev-flow/skills/plan-to-beads/SKILL.md
  dev-flow/skills/requesting-code-review/SKILL.md
  dev-flow/skills/using-worktrees/SKILL.md
  homelab/plugin.json
  homelab/skills/grafana/SKILL.md
  homelab/skills/skill-qa/SKILL.md
  homelab/skills/terraform/SKILL.md
  jj/plugin.json
  jj/skills/jujutsu/SKILL.md
  plugins/dev-flow/.codex-plugin/plugin.json
  plugins/homelab/.codex-plugin/plugin.json
  plugins/jj/.codex-plugin/plugin.json
Due: lint-markdown, fmt-markdown

chore(release): remove release-please, drift-check job, commit-msg hook, and CHANGELOGs
  .github/workflows/check-skills.yml
  .github/workflows/release-please.yml
  .release-please-manifest.json
  AGENTS.md
  CHANGELOG.md
  README.md
  dev-flow/CHANGELOG.md
  dev-flow/skills/address-findings/CHANGELOG.md
  dev-flow/skills/brainstorming/CHANGELOG.md
  dev-flow/skills/executing-plans/CHANGELOG.md
  dev-flow/skills/finishing-a-development-branch/CHANGELOG.md
  dev-flow/skills/requesting-code-review/CHANGELOG.md
  dev-flow/skills/respond-to-comments/CHANGELOG.md
  dev-flow/skills/review-pr/CHANGELOG.md
  dev-flow/skills/subagent-driven-development/CHANGELOG.md
  dev-flow/skills/using-worktrees/CHANGELOG.md
  dev-flow/skills/writing-plans/CHANGELOG.md
  homelab/CHANGELOG.md
  homelab/skills/grafana/CHANGELOG.md
  homelab/skills/skill-qa/CHANGELOG.md
  homelab/skills/terraform/CHANGELOG.md
  jj/CHANGELOG.md
  jj/skills/jujutsu/CHANGELOG.md
  lefthook.yml
  release-please-config.json
Due: lint-markdown, fmt-markdown

build(release): add Taskfile for lint/verify/release ergonomics
  Taskfile.yaml
Due: none

ci(release): validate PR titles with cog verify
  .github/workflows/commit-lint.yaml
Due: none

feat(dev-flow): add solving-a-bead skill
  .beads/interactions.jsonl
  dev-flow/AGENTS.md
  dev-flow/commands/solving-a-bead.md
  dev-flow/skills/solving-a-bead/SKILL.md
  docs/adr/README.md
  docs/adr/fhsk-3xn-hard-block-skill-entry-unmet-bead-blocker-dependencies.md
  docs/adr/fhsk-hj3-leave-bead-progress-at-hand-off-delegate-closure-merge.md
  docs/adr/fhsk-ypt-treat-bug-bead-suggested-fixes-as-non-authoritative-hypothes.md
  docs/superpowers/plans/2026-05-29-solving-a-bead.md
  docs/superpowers/specs/2026-05-29-solving-a-bead-design.md
Due: lint-markdown, fmt-markdown

feat(dev-flow): add solving-a-bead skill (#117)
  .beads/interactions.jsonl
  dev-flow/AGENTS.md
  dev-flow/commands/solving-a-bead.md
  dev-flow/skills/solving-a-bead/SKILL.md
  docs/adr/README.md
  docs/adr/fhsk-3xn-hard-block-skill-entry-unmet-bead-blocker-dependencies.md
  docs/adr/fhsk-hj3-leave-bead-progress-at-hand-off-delegate-closure-merge.md
  docs/adr/fhsk-ypt-treat-bug-bead-suggested-fixes-as-non-authoritative-hypothes.md
  docs/superpowers/plans/2026-05-29-solving-a-bead.md
  docs/superpowers/specs/2026-05-29-solving-a-bead-design.md
Due: lint-markdown, fmt-markdown

docs(dev-flow): spec, plan + ADRs for handoff bead type (fhsk-9ho)
  .beads/interactions.jsonl
  docs/adr/README.md
  docs/adr/fhsk-57f-package-handoff-create-and-resume-as-one-conditional-workflo.md
  docs/adr/fhsk-8xn-carry-session-state-delta-handoff-body-not-full-re-snapshot.md
  docs/adr/fhsk-s15-use-custom-bd-type-handoffs-not-label-or-note.md
  docs/superpowers/plans/2026-05-29-handoff-bead-type.md
  docs/superpowers/specs/2026-05-29-handoff-bead-type-design.md
Due: lint-markdown, fmt-markdown

docs(dev-flow): handoff bead type design — spec, plan + ADRs (fhsk-9ho) (#118)
  .beads/interactions.jsonl
  docs/adr/README.md
  docs/adr/fhsk-57f-package-handoff-create-and-resume-as-one-conditional-workflo.md
  docs/adr/fhsk-8xn-carry-session-state-delta-handoff-body-not-full-re-snapshot.md
  docs/adr/fhsk-s15-use-custom-bd-type-handoffs-not-label-or-note.md
  docs/superpowers/plans/2026-05-29-handoff-bead-type.md
  docs/superpowers/specs/2026-05-29-handoff-bead-type-design.md
Due: lint-markdown, fmt-markdown

fix(dev-flow): solving-a-bead poses finish-branch as AskUserQuestion (fhsk-5sn)
  dev-flow/skills/solving-a-bead/SKILL.md
Due: lint-markdown, fmt-markdown

fix(dev-flow): solving-a-bead poses finish-branch as AskUserQuestion (fhsk-5sn) (#119)
  dev-flow/skills/solving-a-bead/SKILL.md
Due: lint-markdown, fmt-markdown

fix(jj): scope rebase-chain guard to a single command segment
  jj/hooks/guard-jj-rebase-chain
  jj/hooks/tests/test_guard_jj_rebase_chain.py
Due: ruff-check, ruff-format

Path conditions:
  lint-markdown: any of: *.md
  fmt-markdown: any of: *.md
  ruff-check: any of: *.py
  ruff-format: any of: *.py
