Repository fzymgc-house/fzymgc-house-skills: changes, and which lefthook commands are due for each by the changed paths.
All: lint-markdown, fmt-markdown, ruff-check, ruff-format

lefthook.yml:

# Lefthook configuration
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    lint-markdown:
      glob: "*.md"
      run: rumdl check {staged_files}

    fmt-markdown:
      glob: "*.md"
      run: rumdl fmt {staged_files}
      stage_fixed: true

    ruff-check:
      glob: "*.py"
      run: ruff check --fix {staged_files}
      stage_fixed: true

    ruff-format:
      glob: "*.py"
      run: ruff format {staged_files}
      stage_fixed: true

commit-msg:
  commands:
    conventional-commit:
      run: cog verify --file {1}

chore(beads): gc prep (#56)
  .beads/.gitignore
  .beads/README.md
  .beads/config.yaml
  .beads/hooks/post-checkout
  .beads/hooks/post-merge
  .beads/hooks/pre-commit
  .beads/hooks/pre-push
  .beads/hooks/prepare-commit-msg
  .beads/issues.jsonl
  .beads/metadata.json
Due: lint-markdown, fmt-markdown

docs(spec): guard-jj-mutating hook design (fhsk-406)
  docs/superpowers/specs/2026-05-02-guard-jj-mutating-design.md
Due: lint-markdown, fmt-markdown

docs(spec): correct DENY response shape for guard-jj-mutating
  docs/superpowers/specs/2026-05-02-guard-jj-mutating-design.md
Due: lint-markdown, fmt-markdown

docs(plan): guard-jj-mutating implementation plan (fhsk-406)
  docs/superpowers/plans/2026-05-02-guard-jj-mutating.md
Due: lint-markdown, fmt-markdown

docs(readme): fix Claude Code plugin install syntax
  README.md
Due: lint-markdown, fmt-markdown

docs(readme): reframe superpowers table as highlights with full-list link
  README.md
Due: lint-markdown, fmt-markdown

docs: align README with AGENTS.md/CLAUDE.md symlink reality
  AGENTS.md
  CLAUDE.md
  README.md
Due: lint-markdown, fmt-markdown

docs(spec): fix guard-jj-mutating regex for two-token flags (fhsk-406.1)
  docs/superpowers/specs/2026-05-02-guard-jj-mutating-design.md
Due: lint-markdown, fmt-markdown

docs(plan,spec): sync regex + tests + ack quoted-string limitation (fhsk-406.10)
  docs/superpowers/plans/2026-05-02-guard-jj-mutating.md
  docs/superpowers/specs/2026-05-02-guard-jj-mutating-design.md
Due: lint-markdown, fmt-markdown

feat(jj/hooks): add guard-jj-mutating skeleton with edge-case handling
  jj/hooks/guard-jj-mutating
  jj/hooks/tests/test_guard_jj_mutating.py
Due: ruff-check, ruff-format

feat(jj/hooks): guard-jj-mutating marker escalates to ASK
  jj/hooks/guard-jj-mutating
  jj/hooks/tests/test_guard_jj_mutating.py
Due: ruff-check, ruff-format

feat(jj/hooks): guard-jj-mutating walks for .jj/ before gating
  jj/hooks/guard-jj-mutating
  jj/hooks/tests/test_guard_jj_mutating.py
Due: ruff-check, ruff-format

feat(jj): register guard-jj-mutating in plugin.json
  jj/plugin.json
Due: none

feat(jj/hooks): guard-jj-mutating denies jj op restore/abandon
  jj/hooks/guard-jj-mutating
  jj/hooks/tests/test_guard_jj_mutating.py
Due: ruff-check, ruff-format

chore(mcp): drop grafana server; switch context7 to bunx
  .mcp.json
  CLAUDE.md
Due: lint-markdown, fmt-markdown

chore(mcp): drop grafana server; switch context7 to bunx (#61)
  .mcp.json
  CLAUDE.md
Due: lint-markdown, fmt-markdown

feat(jj/hooks): guard jj op restore/abandon (fhsk-406) (#62)
  docs/superpowers/plans/2026-05-02-guard-jj-mutating.md
  docs/superpowers/specs/2026-05-02-guard-jj-mutating-design.md
  jj/hooks/guard-jj-mutating
  jj/hooks/tests/test_guard_jj_mutating.py
  jj/plugin.json
Due: lint-markdown, fmt-markdown, ruff-check, ruff-format

chore(lint): exclude superpowers/ from rumdl
  .rumdl.toml
Due: none

chore(superpowers): sync upstream v5.0.7 -> v5.1.0 verbatim files
  plugins/superpowers/agents
  superpowers/agents/code-reviewer.md
  superpowers/hooks/hooks-cursor.json
  superpowers/references/upstream-manifest.md
  superpowers/skills/requesting-code-review/code-reviewer.md
  superpowers/skills/subagent-driven-development/code-quality-reviewer-prompt.md
  superpowers/skills/systematic-debugging/CREATION-LOG.md
  superpowers/skills/systematic-debugging/root-cause-tracing.md
  superpowers/skills/using-superpowers/references/codex-tools.md
  superpowers/skills/using-superpowers/references/copilot-tools.md
  superpowers/skills/using-superpowers/references/gemini-tools.md
  tests/test_codex_marketplace.py
Due: lint-markdown, fmt-markdown, ruff-check, ruff-format

feat(superpowers): port v5.1.0 changes to forked SKILL.md files
  superpowers/skills/executing-plans/SKILL.md
  superpowers/skills/finishing-a-development-branch/SKILL.md
  superpowers/skills/requesting-code-review/SKILL.md
  superpowers/skills/subagent-driven-development/SKILL.md
  superpowers/skills/using-worktrees/SKILL.md
  superpowers/skills/writing-plans/SKILL.md
Due: lint-markdown, fmt-markdown

feat(superpowers): sync upstream obra/superpowers v5.1.0 (#63)
  .rumdl.toml
  plugins/superpowers/agents
  superpowers/agents/code-reviewer.md
  superpowers/hooks/hooks-cursor.json
  superpowers/references/upstream-manifest.md
  superpowers/skills/executing-plans/SKILL.md
  superpowers/skills/finishing-a-development-branch/SKILL.md
  superpowers/skills/requesting-code-review/SKILL.md
  superpowers/skills/requesting-code-review/code-reviewer.md
  superpowers/skills/subagent-driven-development/SKILL.md
  superpowers/skills/subagent-driven-development/code-quality-reviewer-prompt.md
  superpowers/skills/systematic-debugging/CREATION-LOG.md
  superpowers/skills/systematic-debugging/root-cause-tracing.md
  superpowers/skills/using-superpowers/references/codex-tools.md
  superpowers/skills/using-superpowers/references/copilot-tools.md
  superpowers/skills/using-superpowers/references/gemini-tools.md
  superpowers/skills/using-worktrees/SKILL.md
  superpowers/skills/writing-plans/SKILL.md
  tests/test_codex_marketplace.py
Due: lint-markdown, fmt-markdown, ruff-check, ruff-format

chore(superpowers): drop stale commands removed by upstream
  plugins/superpowers/commands
  superpowers/commands/brainstorm.md
  superpowers/commands/execute-plan.md
  superpowers/commands/write-plan.md
  superpowers/references/upstream-manifest.md
  tests/test_codex_marketplace.py
Due: lint-markdown, fmt-markdown, ruff-check, ruff-format

docs(readme): fix Claude Code plugin install syntax (#57)
  README.md
Due: lint-markdown, fmt-markdown

chore(superpowers): drop stale commands removed by upstream (#64)
  plugins/superpowers/commands
  superpowers/commands/brainstorm.md
  superpowers/commands/execute-plan.md
  superpowers/commands/write-plan.md
  superpowers/references/upstream-manifest.md
  tests/test_codex_marketplace.py
Due: lint-markdown, fmt-markdown, ruff-check, ruff-format

fix(docs): make AGENTS.md the canonical file, CLAUDE.md the symlink
  AGENTS.md
  CLAUDE.md
  tests/test_agent_guidance_docs.py
Due: lint-markdown, fmt-markdown, ruff-check, ruff-format

docs(spec): dev-flow rebrand + beads integration design
  docs/superpowers/specs/2026-05-14-dev-flow-beads-integration-design.md
Due: lint-markdown, fmt-markdown

docs(spec): address dogfood design-reviewer findings + add Rule 6 (design bead)
  docs/superpowers/specs/2026-05-14-dev-flow-beads-integration-design.md
Due: lint-markdown, fmt-markdown

docs(spec): address review-pass-2 minor findings
  docs/superpowers/specs/2026-05-14-dev-flow-beads-integration-design.md
Due: lint-markdown, fmt-markdown

docs(spec): add Rule 7 grounding discipline + plugin runtime requirements
  docs/superpowers/specs/2026-05-14-dev-flow-beads-integration-design.md
Due: lint-markdown, fmt-markdown

docs(spec): tighten Rule 7 (pass-3 findings + deepwiki tool family)
  docs/superpowers/specs/2026-05-14-dev-flow-beads-integration-design.md
Due: lint-markdown, fmt-markdown

docs(plan): dev-flow beads integration implementation plan
  docs/superpowers/plans/2026-05-14-dev-flow-beads-integration.md
Due: lint-markdown, fmt-markdown

docs(plan,spec): address plan-reviewer pass-1 findings
  docs/superpowers/plans/2026-05-14-dev-flow-beads-integration.md
  docs/superpowers/specs/2026-05-14-dev-flow-beads-integration-design.md
Due: lint-markdown, fmt-markdown
